// COMMON
.container {
  margin: 0px auto;
  padding: 0px 15px;
}

// PHONES
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

// TABLETS
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

// DESKTOPS

@media screen and (min-width: 1680px) {
  .container {
    width: 1680px;
  }
}

// sdfgsdgfsdgsdg
