@charset "UTF-8";
/*
 * Главный файл стилей.
 */
:root {
  --accent-color: rgb(255, 107, 9);
  --primary-title-color: #111518;
  --secondary-title-color: #fff;
  --primary-text-color: #b9b9b9;
  --secondary-text-color: #3d3d3d;
  --primary-bg-color: #fff;
  --secondary-bg-color: #111518;
  --tertiary-bg-color: #f1f1f1;
  --footerfirst-bg-color: #e5e5e5;
  --footersecond-bg-color: #111518;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0.08em;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
button {
  cursor: pointer;
}

.container {
  margin: 0px auto;
  padding: 0px 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1680px) {
  .container {
    width: 1680px;
  }
}

.section__title {
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

@media screen and (max-width: 767px) {
  .section__title {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .section__title {
    font-size: 26px;
  }
}

@media screen and (min-width: 1366px) {
  .section__title {
    font-size: 46px;
  }
}

.hero__title {
  font-size: 20px;
  max-width: 280px;
}

.hero__guaranteed-title {
  display: block;
  color: var(--primary-title-color);
}

.hero__container {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(../images/hero/hero-mob.png);
  background-repeat: no-repeat;
}

.hero__description {
  display: block;
}

.hero {
  background-size: cover;
  background-image: url(../images/hero/hero-bg-mob.png);
  background-repeat: no-repeat;
  -webkit-box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
          box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
}

.hero__button {
  display: block;
  width: 280px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 40px auto;
  font-size: 12px;
  font-weight: 700;
  line-height: 1, 2;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  border: none;
}

@media screen and (max-width: 1366px) {
  .hero__points-title {
    display: block;
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
    max-width: 332px;
  }
  .hero {
    background-image: url(../images/hero/hero-bg-desk.png);
  }
}

@media screen and (min-width: 1366px) {
  .hero__title {
    font-size: 58px;
    max-width: 560px;
  }
  .hero {
    background-image: url(../images/hero/hero-bg-desk.png);
  }
}

.how-we-do__title {
  text-align: center;
  margin-bottom: 30px;
}

.card-set__list {
  text-align: center;
}

.card-set__item {
  width: 100%;
  background-color: var(--primary-bg-color);
  -webkit-box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
}

.card-set__item:not(:last-child) {
  margin-bottom: 16px;
}

.card-set__link {
  display: block;
  padding-top: 32px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 8px;
}

.card-set__icon {
  margin-bottom: 20px;
  fill: var(--accent-color);
}

.card-set__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: var(--primary-title-color);
}

.card-set__title::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: var(--accent-color);
  margin: 20px auto 16px auto;
}

.card-set__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .card-set__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1679.98px) {
  .card-set__item {
    -ms-flex-preferred-size: calc((100% - 32px) / 2);
        flex-basis: calc((100% - 32px) / 2);
  }
  .card-set__item:not(:nth-child(2n)) {
    margin-right: 32px;
  }
  .card-set__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1680px) {
  .card-set__item {
    -ms-flex-preferred-size: calc((100% - 64px) / 3);
        flex-basis: calc((100% - 64px) / 3);
  }
  .card-set__item:not(:nth-child(3n)) {
    margin-right: 32px;
  }
  .card-set__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 32px;
  }
}

.guarantee__title {
  text-align: center;
  margin-bottom: 40px;
}

.guarantee__container {
  background-color: var(--tertiary-bg-color);
}

.guarantee__container-list {
  margin-left: auto;
  margin-right: auto;
}

.guarantee__item {
  position: relative;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.guarantee__item:not(:last-child) {
  border-left: 1px dashed var(--primary-text-color);
}

.guarantee__item_accent {
  color: var(--accent-color);
}

.guarantee__icon {
  fill: var(--accent-color);
}

.guarantee__text::before {
  position: absolute;
  top: 0;
  left: -8px;
  content: '';
  background-image: url("../images/icon-fire.svg");
}

@media screen and (max-width: 1679px) {
  .guarantee__item {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.6px;
  }
  .guarantee__text {
    margin-left: 27px;
  }
  .guarantee__text::before {
    width: 15px;
    height: 20px;
    left: -8px;
  }
}

@media screen and (max-width: 767px) {
  .guarantee__container-list {
    width: 280px;
  }
  .guarantee__list {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .guarantee__item:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 479px) {
  .guarantee__container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .guarantee__container-list {
    width: 599px;
  }
  .guarantee__list {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .guarantee__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1680px) {
  .guarantee__container-list {
    width: 1090px;
  }
  .guarantee__list {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .guarantee__item {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.3px;
  }
  .guarantee__text {
    margin-left: 41px;
  }
  .guarantee__text::before {
    width: 22px;
    height: 30px;
    left: -12px;
    background-size: contain;
  }
}

.reveiwes {
  padding-top: 50px;
  padding-bottom: 50px;
}

.reveiwes .section-title {
  text-align: center;
  margin-bottom: 40px;
}

.reveiwes__block {
  padding-top: 20px;
  padding-bottom: 30px;
}

.reveiwes__name {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: var(--accent-color);
}

.reveiwes__course {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.08em;
  color: var(--primary-text-color);
}

.reveiwes__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--secondary-text-color);
}

.reveiwes__more {
  text-decoration: underline;
  color: var(--accent-color);
}

.reveiwes__social {
  display: block;
  width: 30px;
  height: 17px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  fill: #436EAB;
}

.reveiwes__icon {
  display: block;
  width: 25px;
  height: 15px;
}

.reveiwes__avatar {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: teal;
}
/*# sourceMappingURL=main.css.map */