@charset "UTF-8";
/*
 * Главный файл стилей.
 */
.card-set__title::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: var(--accent-color);
}

:root {
  --accent-color: #FF6B09;
  --primary-title-color: #111518;
  --secondary-title-color: #fff;
  --primary-text-color: #b9b9b9;
  --secondary-text-color: #3d3d3d;
  --primary-bg-color: #fff;
  --secondary-bg-color: #111518;
  --tertiary-bg-color: #f1f1f1;
  --footerfirst-bg-color: #e5e5e5;
  --footersecond-bg-color: #111518;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0.08em;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
button {
  cursor: pointer;
}

.container {
  margin: 0px auto;
  padding: 0px 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1680px) {
  .container {
    width: 1680px;
  }
}
.section__title {
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

@media screen and (min-width: 480px) {
  .section__title {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .section__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1680px) {
  .section__title {
    font-size: 46px;
  }
}
.modal__section {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__section.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 450px;
  background-color: var(--secondary-text-color);
}

.contact-form__h {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: var(--accent-color);
}

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}

.contact-form-field__name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--accent-color);
}

.contact-form-input__wrapper,
.contact-form-message__textarea {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid #FF6B09;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--secondary-title-color);
  background-color: var(--secondary-text-color);
}
.contact-form-input:hover, .contact-form-input:focus {
  outline: none;
  border-color: var(--secondary-title-color);
}
.contact-form-input:hover + .modal-icons, .contact-form-input:focus + .modal-icons {
  fill: var(--secondary-title-color);
}

.modal-icons {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--accent-color);
}

.contact-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  border: 1px solid #FF6B09;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.01em;
  background-color: var(--secondary-text-color);
}
.contact-form-message:hover, .contact-form-message:focus {
  outline: none;
  border-color: var(--secondary-title-color);
}

@media screen and (max-width: 479px) {
  .modal__container {
    width: 290px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__container {
    width: 528px;
    height: 580px;
    padding: 40px;
  }

  .contact-form-message {
    font-size: 12px;
  }
}
.hero {
  background-image: url(../images/hero/hero-bg-mob.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 90% 87%;
}

.hero__container {
  margin: auto;
  padding-top: 40px;
}

.container__text {
  width: 280px;
  display: block;
  margin: 0 auto;
}

.hero__title {
  margin-bottom: 8px;
  font-size: 20px;
}

.hero__description {
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
}

.hero__guaranteed-title {
  display: block;
  font-weight: 700;
  color: var(--primary-title-color);
}

.hero__points-title {
  display: block;
  font-weight: 700;
  color: var(--accent-color);
}

.hero__button {
  display: block;
  width: 280px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 0 auto 40px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  border: none;
}

.hero__img {
  width: 208px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: url(../images/hero/hero-bg-mob.png);
    background-repeat: no-repeat;
    background-position: 90% 87%;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../images/hero/hero-bg-tab.png);
    background-repeat: no-repeat;
    background-position: 90% 87%;
  }

  .hero__container {
    display: flex;
    padding-top: 80px;
    justify-content: space-between;
  }

  .container__text {
    max-width: 318px;
    margin-left: 42px;
  }

  .hero__title {
    width: 332px;
    font-size: 26px;
  }

  .hero__description {
    margin-bottom: 48px;
  }

  .hero__button {
    width: 260px;
    margin-left: 0;
    margin-bottom: 126px;
  }

  .hero__img {
    width: 376px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1680px) {
  .hero {
    background-image: url(../images/hero/hero-bg-desk.png);
    background-repeat: no-repeat;
    background-position: 90% 87%;
  }

  .container__text {
    max-width: 560px;
    width: 560px;
    margin-left: 16px;
    margin-right: 58px;
  }

  .hero__title {
    width: 560px;
    font-size: 58px;
  }

  .hero__description {
    width: 493px;
    font-size: 20px;
  }

  .hero__img {
    width: 842px;
  }

  .hero__button {
    width: 354px;
    padding-top: 26px;
    padding-bottom: 26px;
    font-size: 14px;
  }
}
.card-set__list {
  text-align: center;
}

.card-set__item {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
}

.card-set__link {
  display: block;
  height: 100%;
  transition: background-color 250ms linear;
}
.card-set__link:hover, .card-set__link:focus {
  background-color: var(--accent-color);
}

.card-set__icon {
  fill: var(--accent-color);
  transition: fill 250ms linear;
}
.card-set__link:hover .card-set__icon, .card-set__link:focus .card-set__icon {
  fill: var(--primary-bg-color);
}

.card-set__title {
  color: var(--primary-title-color);
  transition: color 250ms linear;
}
.card-set__link:hover .card-set__title, .card-set__link:focus .card-set__title {
  color: var(--primary-bg-color);
}
.card-set__title::after {
  margin: 17px auto 17px auto;
  transition: background-color 250ms linear;
}
.card-set__link:hover .card-set__title::after, .card-set__link:focus .card-set__title::after {
  background-color: var(--primary-bg-color);
}

.card-set__description {
  color: var(--primary-text-color);
}
.card-set__link:hover .card-set__description, .card-set__link:focus .card-set__description {
  color: var(--primary-bg-color);
}

@media screen and (max-width: 767.98px) {
  .how-we-do__title {
    margin-bottom: 30px;
  }

  .card-set__item {
    width: 100%;
  }

  .card-set__item:not(:last-child) {
    margin-bottom: 16px;
  }

  .card-set__wrapper {
    padding-top: 32px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 8px;
  }

  .card-set__icon {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1679.98px) {
  .how-we-do {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .how-we-do__title {
    text-align: center;
  }

  .card-set__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.08em;
  }

  .card-set__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.08em;
  }
}
@media screen and (min-width: 768px) {
  .card-set__list {
    display: flex;
    flex-wrap: wrap;
  }

  .card-set__link {
    display: flex;
  }

  .card-set__icon {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1679.98px) {
  .how-we-do__title {
    margin-bottom: 40px;
  }

  .card-set__item {
    flex-basis: calc((100% - 32px) / 2);
  }
  .card-set__item:not(:nth-child(2n)) {
    margin-right: 32px;
  }
  .card-set__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 32px;
  }

  .card-set__title::after {
    margin: 24px auto 21px auto;
  }

  .card-set__wrapper {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1680px) {
  .how-we-do {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  .how-we-do__title {
    margin-bottom: 80px;
  }

  .card-set__item {
    flex-basis: calc((100% - 64px) / 3);
  }
  .card-set__item:not(:nth-child(3n)) {
    margin-right: 32px;
  }
  .card-set__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 32px;
  }

  .card-set__wrapper {
    padding-top: 90px;
    padding-left: 81px;
    padding-right: 81px;
    padding-bottom: 90px;
  }

  .card-set__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.08em;
  }

  .card-set__description {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.08em;
  }
}
.guarantee__title {
  text-align: center;
  margin-bottom: 40px;
}

.guarantee__container {
  background-color: var(--tertiary-bg-color);
}

.guarantee__container-list {
  margin-left: auto;
  margin-right: auto;
}

.guarantee__item {
  position: relative;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.guarantee__item:not(:last-child) {
  border-left: 1px dashed var(--primary-text-color);
}

.guarantee__item_accent {
  color: var(--accent-color);
}

.guarantee__icon {
  fill: var(--accent-color);
}

.guarantee__text::before {
  position: absolute;
  top: 0;
  left: -8px;
  content: "";
  background-image: url("../images/icon-fire.svg");
  background-color: var(--tertiary-bg-color);
}

@media screen and (max-width: 1679px) {
  .guarantee__item {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.6px;
  }

  .guarantee__text {
    margin-left: 27px;
  }

  .guarantee__text::before {
    width: 15px;
    height: 20px;
    left: -8px;
  }
}
@media screen and (max-width: 767px) {
  .guarantee__container-list {
    width: 280px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .guarantee__item:not(:last-child) {
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 479px) {
  .guarantee__container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .guarantee__container-list {
    width: 599px;
  }

  .guarantee__list {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .guarantee__item:not(:last-child) {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1680px) {
  .guarantee__container-list {
    width: 1090px;
  }

  .guarantee__list {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .guarantee__item {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.3px;
  }

  .guarantee__text {
    margin-left: 41px;
  }

  .guarantee__text::before {
    width: 22px;
    height: 30px;
    left: -12px;
    background-size: contain;
  }
}
.reveiwes {
  padding-top: 80px;
}

.reveiwes .container {
  overflow: hidden;
}

.reveiwes__slider {
  position: relative;
}

.reveiwes .section-title {
  text-align: center;
  margin-bottom: 40px;
  color: var(--primary-title-color);
}

.reveiwes__block {
  padding-top: 20px;
  padding-bottom: 30px;
}

.reveiwes__name {
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: var(--accent-color);
}

.reveiwes__course {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.08em;
  color: var(--primary-text-color);
}

.reveiwes__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--secondary-text-color);
}

.reveiwes__more {
  text-decoration: underline;
  color: var(--accent-color);
}

.reveiwes__social {
  display: block;
  width: 30px;
  height: 17px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  fill: #436EAB;
}

.reveiwes__icon {
  display: block;
  width: 25px;
  height: 15px;
}

.reveiwes__avatar {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: teal;
}

@media screen and (max-width: 767px) {
  .reveiwes {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .reveiwes__block {
    padding-bottom: 40px;
    padding-top: 24px;
  }
  .reveiwes__avatar {
    margin-bottom: 24px;
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
  }
  .reveiwes__social {
    margin-bottom: 24px;
  }
  .reveiwes__name {
    margin-bottom: 16px;
  }

  .reveiwes__name {
    text-align: center;
  }

  .reveiwes__course {
    max-width: 240px;
    margin: 0 auto 16px;
    text-align: center;
  }

  .reveiwes__text {
    max-width: 240px;
    margin: 0 auto;
    text-align: center;
  }

  .slick-arrow.slick-prev {
    bottom: 27px;
    left: 0;
    transform: translate(0, 50%);
  }

  .slick-arrow.slick-next {
    bottom: 27px;
    right: 0;
    transform: translate(0, 50%);
  }

  .slick-arrow {
    margin: 0 20px;
  }

  .slick-dots li:nth-child(n+4) {
    display: none;
  }

  .slick-dots li:not(:first-child) {
    margin-left: 10px;
  }

  .slick-list {
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .reveiwes {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .reveiwes__item {
    display: flex;
  }

  .reveiwes__avatar {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }

  .reveiwes__course {
    margin-bottom: 20px;
  }

  .slick-arrow.slick-prev {
    top: 40%;
    left: 0;
  }

  .slick-arrow.slick-next {
    top: 40%;
    right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1679px) {
  .reveiwes .section-title {
    font-size: 26px;
    margin-bottom: 40px;
  }

  .reveiwes__block {
    padding: 40px 48px;
  }

  .reveiwes__left-side {
    margin-right: 46px;
  }

  .reveiwes__name {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .slick-arrow.slick-prev {
    transform: translateX(-50%);
  }

  .slick-arrow.slick-next {
    transform: translateX(50%);
  }

  .slick-list {
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    margin-bottom: 30px;
  }

  .slick-arrow {
    margin: 0 12px;
  }

  .slick-dots li:not(:first-child) {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1680px) {
  .reveiwes {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .reveiwes .section-title {
    font-size: 46px;
    margin-bottom: 50px;
  }

  .reveiwes__block {
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    max-width: 1090px;
    margin: 0 auto 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 110px;
  }

  .reveiwes__left-side {
    margin-right: 40px;
  }

  .reveiwes__name {
    font-size: 30px;
  }

  .reveiwes__course {
    max-width: 430px;
    font-size: 14px;
  }

  .reveiwes__text {
    font-size: 18px;
    line-height: 1.56;
  }

  .slick-arrow {
    margin: 0 230px;
  }

  .slick-dots li:not(:first-child) {
    margin-left: 40px;
  }
}
.reveiwes__arrow {
  padding: 0;
  border: none;
  background-color: transparent;
}

.arrow-left {
  position: absolute;
}

.arrow-right {
  position: absolute;
}

.reveiwes__slider-dote {
  display: flex;
  justify-content: center;
}

.slider {
  position: relative;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

.slick-arrow {
  position: absolute;
  font-size: 0;
  width: 27px;
  height: 16px;
  z-index: 999;
  border: none;
  background-color: transparent;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  margin-right: 100px;
  left: 0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='16' viewBox='0 0 27 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M26 7C26.5523 7 27 7.44772 27 8C27 8.55228 26.5523 9 26 9V7ZM0.292892 8.70711C-0.0976315 8.31658 -0.0976315 7.68342 0.292892 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292892 8.70711ZM26 9H1V7H26V9Z' fill='%23FF6B09'/%3e%3c/svg%3e ");
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='16' viewBox='0 0 27 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM26.7071 8.70711C27.0976 8.31658 27.0976 7.68342 26.7071 7.29289L20.3431 0.928932C19.9526 0.538408 19.3195 0.538408 18.9289 0.928932C18.5384 1.31946 18.5384 1.95262 18.9289 2.34315L24.5858 8L18.9289 13.6569C18.5384 14.0474 18.5384 14.6805 18.9289 15.0711C19.3195 15.4616 19.9526 15.4616 20.3431 15.0711L26.7071 8.70711ZM1 9H26V7H1V9Z' fill='%23FF6B09'/%3e%3c/svg%3e ");
}

.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li button {
  display: block;
  width: 54px;
  height: 54px;
  font-size: 0;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  background-size: contain;
}

.slick-dots li:nth-child(1) button {
  background-color: tomato;
}

.slick-dots li:nth-child(2) button {
  background-color: tomato;
}

.slick-dots li:nth-child(3) button {
  background-color: tomato;
}

.slick-dots li:nth-child(4) button {
  background-color: tomato;
}

.slick-dots li:nth-child(5) button {
  background-color: tomato;
}

.slick-dots li:nth-child(6) button {
  background-color: tomato;
}

.slick-dots li:nth-child(7) button {
  background-color: tomato;
}

.slick-dots li:nth-child(8) button {
  background-color: tomato;
}

.slick-dots li:nth-child(9) button {
  background-color: tomato;
}

.slick-slide {
  outline: none;
}

/* footer section */
.footer__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 84px;
  padding-bottom: 82px;
}

.footer-mobile__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.08em;
  color: #111518;
}

.current::after {
  content: " ";
  display: inline-block;
  width: 40px;
  bottom: 0;
  border: 1px solid #B9B9B9;
  margin-left: 24px;
  transform: rotate(90deg);
}

.footer__row {
  display: block;
  background: #111518;
  padding-top: 26px;
  padding-bottom: 27px;
}

.footer__text {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  color: #B9B9B9;
}

.footer__logo {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.04em;
  color: #111518;
}

.logo__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #111518;
}

.logo__sibtitle-slogan {
  color: #FF6B09;
}

.footer-nav__contacts {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.footer-mobile__icon {
  width: 30px;
  height: 29px;
  margin-right: 16px;
  fill: #FF6B09;
  transition: currentColor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mobile__icon:hover {
  fill: #111518;
}

.footer-social__icon {
  fill: var(#FF6B09);
}

/* 0px - 768px  */
@media screen and (max-width: 767px) {
  .footer__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 43px;
    padding-bottom: 40px;
  }

  .current::after {
    display: none;
  }

  .footer__box {
    margin-bottom: 21px;
  }

  .footer-wrapper {
    display: grid;
    grid-template-rows: repeat(1, 40px);
    justify-items: center;
  }

  .footer-wrapper__social-link {
    grid-column: 1/3;
  }

  .footer-mobile__icon {
    margin-right: 8px;
  }

  .footer-mobile__link {
    font-size: 14px;
    line-height: 1.21;
    margin-right: 0;
  }
}
/* 768 px + */
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .footer-mobile__link {
    font-size: 20px;
    line-height: 1.2;
  }

  .footer__section {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer-nav__contacts {
    margin-right: 0;
  }

  .current::after {
    margin-left: 24px;
    margin-right: 24px;
  }
}
/* 1200 px + */
@media screen and (min-width: 1366px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .footer-nav__contacts {
    margin-right: auto;
  }

  .footer-mobile__link {
    font-size: 30px;
    line-height: 1.23;
    font-size: 30px;
    line-height: 1.23;
  }

  .current::after {
    margin-left: 16px;
    margin-right: 24px;
  }
}/*# sourceMappingURL=main.css.map */