@charset "UTF-8";
/*
 * Главный файл стилей.
 */
:root {
  --accent-color: rgb(255, 107, 9);
  --primary-title-color: #111518;
  --secondary-title-color: #fff;
  --primary-text-color: #b9b9b9;
  --secondary-text-color: #3d3d3d;
  --primary-bg-color: #fff;
  --secondary-bg-color: #111518;
  --tertiary-bg-color: #f1f1f1;
  --footerfirst-bg-color: #e5e5e5;
  --footersecond-bg-color: #111518;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0.08em;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
button {
  cursor: pointer;
}

.container {
  margin: 0px auto;
  padding: 0px 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1680px) {
  .container {
    width: 1680px;
  }
}
.section__title {
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

@media screen and (min-width: 480px) {
  .section__title {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .section__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1366px) {
  .section__title {
    font-size: 46px;
  }
}
.hero__container {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .hero__container {
    padding-right: 20px;
    padding-left: 20px;
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__container {
    padding-right: 42px;
    padding-left: 42px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1680px;
  }
}

.hero {
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .hero {
    height: 579px;
    padding-top: 50px;
    background-position: center;
    background-size: 208px 178px, calc(100% + 320px) 670px;
    background-image: url(../images/hero/hero-bg-mob.png);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/hero-bg-mob.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    height: 488px;
    padding-top: 70px;
    background-position: calc(50% + 178px) 80px, -50px -100px;
    background-size: 376px 320px, calc(100% + 160px) 609px;
    background-image: url(../images/hero/hero-bg-desk.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/hero-bg-desk.png);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 824px;
    padding-top: 125px;
    overflow: hidden;
    background-position: calc(50% + 380px) 50px, -30px -60px;
    background-size: 842px 718px, calc(100% + 60px) 878px;
    background-image: url(../images/hero/hero-bg-desk.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/hero-bg-desk.png);
  }
}

@media screen and (max-width: 767px) {
  .hero-title {
    width: 280px;
    margin-bottom: 8px;
    font-size: 20px;
    letter-spacing: 0.3;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-title {
    width: 280px;
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    width: 640px;
    margin-bottom: 24px;
    font-size: 46px;
  }
}

.hero__guaranteed-title {
  display: block;
  color: var(--primary-title-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__guaranteed-title {
    width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__guaranteed-title {
    width: 550px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.65;
  }
}

@media screen and (max-width: 767px) {
  .button-hero {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-hero {
    margin-bottom: 142px;
  }
}
@media screen and (min-width: 1200px) {
  .button-hero {
    margin-bottom: 241px;
  }
}

@media screen and (max-width: 1200px) {
  .hero__points-title {
    display: block;
    color: var(--accent-color);
  }
}
.hero__button {
  display: block;
  width: 280px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 40px auto;
  font-size: 12px;
  font-weight: 700;
  line-height: 1, 2;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  border: none;
}/*# sourceMappingURL=main.css.map */