
@mixin mobile-only {
	@media screen and (max-width: 767px) {
		@content;
	}
}

@mixin tablet-only {
	@media screen and (min-width: 768px) and (max-width: 1679px) {
		@content;
	}
}

@mixin desktop-only {
	@media screen and (min-width: 1680px) {
		@content;
	}

@mixin font ($fw, $fs, $lh, $ls) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;

}