:root {
  --accent-color: rgb(255, 107, 9);
  --primary-title-color: #111518;
  --secondary-title-color: #fff;
  --primary-text-color: #b9b9b9;
  --secondary-text-color: #3d3d3d;
  --primary-bg-color: #fff;
  --secondary-bg-color: #111518;
  --tertiary-bg-color: #f1f1f1;
  --footerfirst-bg-color: #e5e5e5;
  --footersecond-bg-color: #111518;
}
