<!-- ABOUT -->

<section class="about section">
  <div class="container">
    <div class="about-container">
      <h2 id="anchor-about" class="section__title">Teacher</h2>
      <div class="about__wrapper">
        <picture class="about__picture">
          <source srcset="./images/about/about-desk-webp.webp 1x, ./images/about/about-desk@2x-webp.webp 2x"
            media="(min-width: 1680px)" type="image/webp">

          <source srcset="./images/about/about-desk.jpg 1x, ./images/about/about-desk@2x.jpg 2x"
            media="(min-width: 1680px)">

          <source srcset="./images/about/about-tab-webp.webp 1x, ./images/about/about-tab@2x-webp.webp 2x"
            media="(min-width: 768px)" type="image/webp">

          <source srcset="./images/about/about-tab.jpg 1x, ./images/about/about-tab@2x.jpg 2x"
            media="(min-width: 768px)">

          <source srcset="./images/about/about-mob-webp.webp 1x, ./images/about/about-mob@2x-webp.webp 2x"
            media="(max-width: 767px)" type="image/webp">

          <source srcset="./images/about/about-mob.jpg 1x, ./images/about/about-mob@2x.jpg 2x"
            media="(max-width: 767px)">

          <img class="about__photo" src="./images/about/about-mob.jpg" alt="teacher's photo">
        </picture>

        <div class="about-block">
          <h3 class="about-block-title">Елена Морева</h3>
          <ul class="about-block-list">
            <li class="about-block-list__item first-item">
              <p class="about-block-list__item-text">6 yeards of experience in preparing students for UPE</p>
            </li>
            <li class="about-block-list__item second-item">
              <p class="about-block-list__item-text">Own result of passing VNO - 197 points 2 years in a row</p>
            </li>
            <li class="about-block-list__item">
              <p class="about-block-list__item-text">Passed excellent at the international analogue of UPE - Cambridge
                PET
                (Preliminary English Test)</p>
            </li>
          </ul>
          <p class="about-block__description">
            <span class="about-block__description-desktop">Graduated from the Institute of International Relations of
              the NAU
              with a degree in translator-analyst.</span>
            <span class="about-block__description-desktop">In spare time takes courses from the best universities in the
              world
              on effective teaching and essay writing techniques.</span>
            Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University of
            Queesland),
            How to
            Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education),
            Powerful
            Tools for Teaching and Learning (University of Houston).
          </p>
          <a class="about-block__link" href="#about">Cambrige English Entry Level Certificate</a>
        </div>
      </div>
    </div>

  </div>
</section>

