<!-- ABOUT -->

<section class="about">
  <div class="container">
    <h2 class="section__title">Teacher</h2>
    <div class="card-wrapper">
      <picture>
        <!-- <source srcset="./images/about-desk-webp.webp 1x, ./images/about-desk@2x-webp.webp 2x" 
          media="(min-width: 1680px)"
          type="image/webp">
      
        <source srcset="././images/about-desk.jpg 1x, ././images/about-desk@2x.jpg 2x" 
          media="(min-width: 1680px)">
      
        <source srcset="././images/about-tab-webp.webp 1x, ././images/about-tab@2x-webp.webp 2x" 
          media="(min-width: 768px)"
          type="image/webp">
      
        <source srcset="././images/about-tab.jpg 1x, ././images/about-tab@2x.jpg 2x" 
          media="(min-width: 768px)">
      
        <source srcset="././images/about-mob-webp.webp 1x, ././images/about-mob@2x-webp.webp 2x" 
          media="(max-width: 767px)"
          type="image/webp"> 
      
        <source srcset="././images/about-mob.jpg 1x, ././images/about-mob@2x.jpg 2x" 
          media="(max-width: 767px)"> -->
      
        <img class="about__photo" src="./images/about/about-mob.jpg" alt="teacher's photo">
      </picture>
      <div>
        <h3>Елена Морева</h3>
        <ul class="about-list">
          <li class="about-list__item">6 yeards of experience in preparing students for UPE</li>
          <li class="about-list__item">Own result of passing VNO - 197 points 2 years in a row</li>
          <li class="about-list__item">Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English Test)</li>
        </ul>
        <p class="about__description">Graduated from the Institute of International Relations of the NAU with a degree in translator-analyst.
        In spare time takes courses from the best universities in the world on effective teaching and essay writing techniques.
        Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University of Queesland), How to
        Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), Powerful
        Tools for Teaching and Learning (University of Houston).
        </p>
        <a href="#about">Cambrige English Entry Level Certificate</a>
      </div>
    </div>
  </div>
</section>

<div class="backdrop is-hidden">
  <div class="modal"></div>
</div>