<section class="advantages">
    <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages__list">
        <li class="advantages__item">
            <svg class="advantages__icon" width="59px" height="60px">
                <use href="./images/sprite.svg#icon-autors"></use>
            </svg> 
            <p class="advantages__priority">Adapted author's UPE program</p> 
        </li>
        <li class="advantages__item">
            <svg class="advantages__icon" width="59px" height="60px">
                <use href="./images/sprite.svg#icon-guarantee"></use>
            </svg>
            <p class="advantages__priority">Modern teaching methods</p> 
        </li>
        <li class="advantages__item advantages__item_last">
            <svg class="advantages__icon" width="59px" height="60px">
                <use href="./images/sprite.svg#icon-methods"></use>
            </svg>                    
            <p class="advantages__priority">Financial guarantee the result</p> 
        </li>
    </ul>
    </div>
    </section>