<section class="section benefits">
    <div class="container">
    <h2 class="second-title__benefits">Why do people choose us</h2>
    <ul class="benefits__list">
        <li class="benefits__item">
            <p class="benefits__description">
                Training in small groups</p>
        </li>
        <li class="benefits__item">
            <p class="benefits__description">
                Rendered notes</p>
        </li>
        <li class="benefits__item">
            <p class="benefits__description">
                Each lesson has a goal and a specific result</p>
        </li>
        <li class="benefits__item">
            <p class="benefits__description">
                The real results of the teacher</p>
        </li>
        <li class="benefits__item">
            <p class="benefits__description">
                The course program meets the requirements of the MES of Ukraine</p>
        </li>
        <li class="benefits__item benefits__item_last">
            <p class="benefits__description">
                Set of groups by level of knowledge</p>
        </li>
    </ul>
    </div>
    </section>