<!--contacts-->
<section class="section-contacts">
    <div class="contacts__box container">
        <h2 class="contacts__title">Registration for a <span class="contacts__title-slogan">free</span> phone <span
                class="contacts__title-slogan">consultation</span> on the nuances of English UPE</h2>
        <p class="contacts__subtitle">Leave a request for participation in a <span
                class="contacts__subtitle-slogan">free
                lesson</span>.
            A consultant will contact you and answer your questions</p>
        <form class="contacts__form">
            <ul class="contacts__list">
                <li class="contacts__item">
                    <label class="connection-field">
                        <input class="contacts__input" type="text" name="name" placeholder="Name*">
                    </label>
                </li>
                <li class="contacts__item">
                    <label class="connection-field">
                        <input class="contacts__input" type="tel" name="phone-number" placeholder="Phone*">
                    </label>
                </li>
            </ul>
        </form>
        <button class="contacts__button" type="submit">i want a free lesson</button>
    </div>
</section>