<!-- contacts-->
<section class="section-contacts">
  <div class="contacts__box contacts__container container">
    <h2 id="anchor-contacts" class="contacts__title">
      Registration for a <span class="contacts__title-slogan">free</span> phone
      <span class="contacts__title-slogan">consultation</span> on the nuances of English UPE
    </h2>
    <p class="contacts__subtitle">
      Leave a request for participation in a
      <span class="contacts__subtitle-slogan">free lesson</span>. A consultant will contact you and
      answer your questions
    </p>
    <form class="modal__form" autocomplete="on">
      <div class="form__input-wrapper">
        <label class="form__field">
          <span class="form__user">
            <input name="name" class="form_input" type="text" placeholder="Name*" autocomplete="name"
              pattern="[A-Za-z]{2,15}" aura-required="true" minlength="2" />
          </span>
        </label>
        <label class="form__field">
          <span class="form__user">
            <input name="user_tel" class="form_input" type="tel" placeholder="Phone*" autocomplete="tel"
              aura-required="true" pattern="[0-9]{10}" />
          </span>
        </label>
      </div>
      <button class="form__send-btn" type="submit">i want a free lesson</button>
    </form>
  </div>
</section>