<!-- footer -->
<footer class="footer">
  <div class="footer__section container">
    <div class="logo logo__footer">
      <a class="logo__link" href="">
        <span class="logo__text">Hell</span>
        <svg class="logo__icon animate__animated animate__tada" width="22" height="30">
          <use href="./images/sprite.svg#icon-fire"></use>
        </svg>
        <span class="logo__text logo-upper">en</span>
        <p class="logo__subtitle logo-upper">
          <span class="logo__accent logo-upper">hellish&nbsp;</span>english
        </p>
      </a>
    </div>
    <div class="footer-nav__contacts footer-wrapper">
      <div class="footer-wrapper__icon">
        <a
          class="footer__tel-icon"
          href="tel:+380000000000"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="footer-mobile__icon">
            <use href="./images/sprite.svg#icon-phone"></use>
          </svg>
        </a>
      </div>
      <div class="footer-wrapper__link">
        <a
          class="footer-mobile__link current"
          href="tel:+380000000000"
          target="_blank"
          rel="noreferrer noopener"
          >+38 (000) 000 00 00</a
        >
      </div>
      <div class="footer-wrapper__social-link">
        <a
          class="footer-social__link"
          href="https://instagram.com/hellenglish?igshid=YmMyMTA2M2Y="
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="footer-social__icon" width="25px" height="25px">
            <use href="./images/sprite.svg#icon-inst"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="footer__row">
    <p class="footer__text container">@ All rights reserved, 2019</p>
  </div>
</footer>
