<a class="top-arrow isShowBtn isShowBtn__hide" title="Наверх" href="#">
  <svg class="top-arrow">
    <use href="./images/sprite.svg#top-arrow"></use>
  </svg>
</a>
<div class="header__container container">
  <div class="logo logo__header">
    <a class="logo__link" href="">
      <span class="logo__text">Hell</span>

      <svg class="logo__icon" width="22" height="30">
        <use href="./images/sprite.svg#icon-fire"></use>
      </svg>
      <span class="logo__text logo-upper">en</span>

      <p class="logo__subtitle logo-upper">
        <span class="logo__accent logo-upper">hellish&nbsp;</span>english
      </p>
    </a>
  </div>

  <nav class="header__navigation">
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <a class="header__link" href="#anchor-program">Studying program</a>
      </li>
      <li class="header__nav-item">
        <a class="header__link" href="#anchor-about">about</a>
      </li>
      <li class="header__nav-item">
        <a class="header__link" href="#anchor-how-we-do">training options</a>
      </li>
      <li class="header__nav-item">
        <a class="header__link" href="#anchor-contacts">contacts</a>
      </li>
    </ul>
  </nav>

  <div>
    <button type="button" class="header__button" data-modal-open>consultation by phone</button>

    <button type="button" class="header__burger-btn burger-btn-close" data-menu-open>
      <span>
        <svg class="header__burger-icon" width="20" height="12">
          <use href="./images/sprite.svg#icon-burger"></use>
        </svg>
      </span>
    </button>
  </div>
</div>

<!-- mvobile-menu -->
<div class="mobile-menu" data-menu>
  <div class="mobile-menu__container">
    <div class="mobile__btn-blok">
      <div class="logo logo__mobile-menu">
        <a class="logo__link" href="">
          <span class="logo__text logo__mobile-menu-text">Hell</span>

          <svg class="logo__icon" width="22" height="30">
            <use href="./images/sprite.svg#icon-fire"></use>
          </svg>
          <span class="logo__text logo-upper logo__mobile-menu-text">en</span>

          <p class="logo__subtitle logo-upper logo__mobile-menu-subtitle">
            <span class="logo__accent logo-upper">hellish&nbsp;</span>english
          </p>
        </a>
      </div>

      <button class="mobile-menu__close-btn" data-menu-close>
        <svg class="mobile-menu__close-icon" width="17" height="17">
          <use href="./images/sprite.svg#icon-close-btn"></use>
        </svg>
      </button>
    </div>

    <div class="mobile-menu__blok-nav">
      <nav class="mobile-menu__navigation">
        <ul class="mobile-menu__nav-list">
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__link" href="#anchor-program">Studying program</a>
          </li>
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__link" href="#anchor-about">about</a>
          </li>
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__link" href="#anchor-how-we-do">training options</a>
          </li>
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__link" href="#anchor-contacts">contacts</a>
          </li>
        </ul>
      </nav>
    </div>

    <button type="button" class="mobile-menu__button">consultation by phone</button>
  </div>
</div>