<!-- HERO -->
<section class="hero">
    <div class="container hero__container">
        <h1 class="hero__title section__title">
            Complex preparation for English UPE
        </h1>

        <p class="hero__description">It won’t be easy.
            <strong class="hero__guaranteed-title">But you are guaranteed to get
                <span class="hero__points-title">+25 points</span>
            </strong>
        </p>

        <button class="button" type="button" data-modal-open>
            i want a free lesson
        </button>
    </div>
</section>