<section class="section how-we-do">
    <div class="container bg">
        <h2 class="section__title how-we-do__title">How do we do it</h2>
        <ul class="card-set__list">
        <li class="card-set__item">
            <svg class="card-set__icon" width="46" height="48">
                <use href="./images/sprite.svg#icon-study-program" ></use>
            </svg>
            <h3 class="card-set__title">Adapted program preparation for UPE</h3>
            <p class="card-set__description">You will learn grammar and vocabulary at the same time. And you will learn how to write essays.</p>
        </li>
        <li class="card-set__item" width="48">
            <svg class="card-set__icon">
            <use href="./images/sprite.svg#icon-modern-teaching" ></use>
            </svg>
            <h3 class="card-set__title">Classroom and online learning</h3>
            <p class="card-set__description">The teacher will help not only in the classroom, but also during home preparation. Parents can chat if they wish.</p>
        </li>
        <li class="card-set__item">
            <svg class="card-set__icon">
            <use href="./images/sprite.svg#icon-open-book" ></use>
            </svg>
            <h3 class="card-set__title">The habit of reading in English</h3>
            <p class="card-set__description">Articles from sources that are used in the development of this UPE will be received by phone twice a week.</p>
        </li>
        <li class="card-set__item">
            <svg class="card-set__icon">
            <use href="./images/sprite.svg#icon-support" ></use>
            </svg>
            <h3 class="card-set__title">Psychological support</h3>
            <p class="card-set__description">We will teach you testing techniques, the ability to plan your confidence training in itself.</p>
        </li>
        <li class="card-set__item">
            <svg class="card-set__icon">
            <use href="./images/sprite.svg#icon-student" ></use>
            </svg>
            <h3 class="card-set__title">Training on copyright manuals</h3>
            <p class="card-set__description">You don't have to waste your time on a search for material and to buy anything extra. We have compiled 2 manuals for you.</p>          
        </li>
        <li class="card-set__item">
            <svg class="card-set__icon">
            <use href="./images/sprite.svg#icon-audio-book" ></use>
            </svg>
            <h3 class="card-set__title">Ability to comprehend spoken English</h3>
            <p class="card-set__description">“F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio recordings in accordance with the studied vocabulary.</p>
        </li>
        </ul>
    </div>
</section>