<section class="section problems">
    <div class="container">
    <h2 class="second-title__problems">The main problems of students <br> in English UPE, which <br> we <span class="problems__accent">help</span> to solve</h2>
    <ul class="problems__list">
        <li class="problems__item problems__item_grammar">
            <p class="problems__description">
            Grammar</p>
        </li>
        <li class="problems__item problems__item_english">
            <p class="problems__description">
            Inability to understand spoken English</p>
        </li>
        <li class="problems__item problems__item_vocabulary">
            <p class="problems__description">
            Stingy vocabulary for writing an essay</p>
        </li>
        <li class="problems__item problems__item_alone">
            <p class="problems__description">
            Preparing alone</p>
        </li>
        <li class="problems__item problems__item_resourse">
            <p class="problems__description">
            Lack of a single knowledge resource</p>
        </li>
        <li class="problems__item problems__item_last">
            <p class="problems__description">
            Lack of self-organization and laziness</p>
        </li>
    </ul>
    </div>
    </section>