<section class="program">
  <div class="program-container container">
    <h2 class="section-title">Our program</h2>
    <ul class="semester-list">
      <li class="semester-list__item">
        <h3 class="semester-title"><span class="semester-number">1</span> semester</h3>
        <ul class="subject-list">
          <li class="subject-list__item">
            <h4 class="subject-title">Grammar</h4>
            <ul class="topic-list">
              <li class="topic-list__item">Nouns & Articles</li>
              <li class="topic-list__item">Adjectives & Adverb</li>
            </ul>
          </li>
          <li class="subject-list__item">
            <h4 class="subject-title">Vocabulary</h4>
            <ul class="topic-list">
              <li class="topic-list__item">Family & Relations</li>
              <li class="topic-list__item">People & Society</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="semester-list__item">
        <h3 class="semester-title"><span class="semester-number">2</span> semester</h3>
        <ul class="subject-list">
          <li class="subject-list__item">
            <h4 class="subject-title">Grammar</h4>
            <ul class="topic-list">
              <li class="topic-list__item">Pronouns</li>
              <li class="topic-list__item">Active Voice</li>
              <li class="topic-list__item">Passive Voice</li>
            </ul>
          </li>
          <li class="subject-list__item">
            <h4 class="subject-title">Vocabulary</h4>
            <ul class="topic-list">
              <li class="topic-list__item">Home</li>
              <li class="topic-list__item">School</li>
              <li class="topic-list__item">Work</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="semester-list__item">
        <h3 class="semester-title"><span class="semester-number">3</span> semester</h3>
        <ul class="subject-list">
          <li class="subject-list__item">
            <h4 class="subject-title">Grammar</h4>
            <ul class="topic-list">
              <li class="topic-list__item">Modal verbs</li>
              <li class="topic-list__item">Infinitive</li>
              <li class="topic-list__item">Gerund</li>
              <li class="topic-list__item">Participle: 1,2</li>
            </ul>
          </li>
          <li class="subject-list__item">
            <h4 class="subject-title">Vocabulary</h4>
            <ul class="topic-list">
              <li class="topic-list__item">Travel & Tourism</li>
              <li class="topic-list__item">Culture & Free Time</li>
              <li class="topic-list__item">Sport</li>
            </ul>
          </li>
          <li class="subject-list__item">
            <h4 class="subject-title">Writing</h4>
            <ul class="topic-list">
              <li class="topic-list__item">Informal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="semester-list__item">
        <h3 class="semester-title"><span class="semester-number">4</span> semester</h3>
        <ul class="subject-list">
          <li class="subject-list__item">
            <h4 class="subject-title">Grammar</h4>
            <ul class="topic-list">
              <li class="topic-list__item">Clauses: Conditional and Wishes</li>
              <li class="topic-list__item">Direct / Reported speech</li>
              <li class="topic-list__item">Preposition</li>
              <li class="topic-list__item">Conjunction</li>
              <li class="topic-list__item">Numeral</li>
            </ul>
          </li>
          <li class="subject-list__item">
            <h4 class="subject-title">Vocabulary</h4>
            <ul class="topic-list">
              <li class="topic-list__item">Healthy Living</li>
              <li class="topic-list__item">Nature & Environment</li>
              <li class="topic-list__item">Money</li>
            </ul>
          </li>
          <li class="subject-list__item">
            <h4 class="subject-title">Writing</h4>
            <ul class="topic-list">
              <li class="topic-list__item">Formal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="semester-list__item">
        <h3 class="semester-title"><span class="semester-number">5</span> semester</h3>
        <ul class="subject-list">
          <li class="subject-list__item">
            <h4 class="subject-title hidden">&#10240</h4>
            <ul class="topic-list">
              <li class="topic-list__item">Revision</li>
              <li class="topic-list__item">Tests</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
