<section>
  <h2 class="section-title">Our program</h2>
  <ul class="semester-list">
    <li class="semester-list__item">
      1 semester
      <ul class="subject-list">
        <li class="subject-list__item">
          Grammar
          <p>Nouns & Articles</p>
          <p>Adjectives & Adverb</p>
        </li>
        <li class="subject-list__item">
          Vocabulary
          <p>Family & Relations</p>
          <p>People & Society</p>
        </li>
      </ul>
    </li>
    <li class="semester-list__item">
      2 semester
      <ul class="subject-list">
        <li class="subject-list__item">
          Grammar
          <p>Pronouns</p>
          <p>Active Voice</p>
          <p>Passive Voice</p>
        </li>
        <li class="subject-list__item">
          Vocabulary
          <p>Home</p>
          <p>School</p>
          <p>Work</p>
        </li>
      </ul>
    </li>
    <li class="semester-list__item">
      3 semester
      <ul class="subject-list">
        <li class="subject-list__item">
          Grammar
          <p>Modal verbs</p>
          <p>Infinitive</p>
          <p>Gerund</p>
          <p>Participle: 1,2</p>
        </li>
        <li class="subject-list__item">
          Vocabulary
          <p>Travel & Tourism</p>
          <p>Culture & Free Time</p>
          <p>Sport</p>
        </li>
        <li class="subject-list__item">
          Writing
          <p>Informal Letter</p>
        </li>
      </ul>
    </li>
    <li class="semester-list__item">
      4 semester
      <ul class="subject-list">
        <li class="subject-list__item">
          Grammar
          <p>Clauses: Conditional and Wishes</p>
          <p>Direct / Reported speech</p>
          <p>Preposition</p>
          <p>Conjunction</p>
          <p>Numeral</p>
        </li>
        <li class="subject-list__item">
          Vocabulary
          <p>Healthy Living</p>
          <p>Nature & Environment</p>
          <p>Money</p>
        </li>
        <li class="subject-list__item">
          Writing
          <p>Formal Letter</p>
        </li>
      </ul>
    </li>
    <li class="semester-list__item">
      5 semester
      <ul class="subject-list">
        <li class="subject-list__item">
          <p>Revision</p>
          <p>Tests</p>
        </li>
      </ul>
    </li>
  </ul>
  <picture>
    <source
      srcset="
        ./images/program/program-desk-webp.webp    1x,
        ./images/program/program-desk@2x-webp.webp 2x
      "
      media="(min-width: 1366px)"
      type="image/webp"
    />

    <source
      srcset="./images/program/program-desk.png 1x, ./images/program/program-desk@2x.png 2x"
      media="(min-width: 1366px)"
    />

    <source
      srcset="
        ./images/program/program-tab-webp.webp    1x,
        ./images/program/program-tab@2x-webp.webp 2x
      "
      media="(min-width: 768px)"
      type="image/webp"
    />

    <source
      srcset="./images/program/program-tab.png 1x, ./images/program/program-tab@2x.png 2x"
      media="(min-width: 768px)"
    />

    <source
      srcset="
        ./images/program/program-mob-webp.webp    1x,
        ./images/program/program-mob@2x-webp.webp 2x
      "
      media="(min-width: 480px)"
      type="image/webp"
    />

    <source
      srcset="./images/program/program-mob.png 1x, ./images/program/program-mob@2x.png 2x"
      media="(min-width: 480px)"
    />
    <img src="./images/program/program-desk.png" alt="lesson" />
  </picture>
  <ul class="benefits-list">
    <li class="benefits-list__item">
      01
      <p>Training in small groups</p>
    </li>
    <li class="benefits-list__item">
      02
      <p>Rendered notes</p>
    </li>
    <li class="benefits-list__item">
      03
      <p>Each lesson has a goal and a specific result</p>
    </li>
    <li class="benefits-list__item">
      04
      <p>The real results of the teacher</p>
    </li>
    <li class="benefits-list__item">
      05
      <p>The course program meets the requirements of the MES of Ukraine</p>
    </li>
    <li class="benefits-list__item">
      06
      <p>Set of groups by level of knowledge</p>
    </li>
  </ul>
</section>
