<section class="program">
  <h2 class="section-title">Our program</h2>
  <ul class="semester-list">
    <li class="semester-list__item">
      <h3 class="semester-title">
        <span class="semester-number">1</span> semester
      </h3>
      <ul class="subject-list">
        <li class="subject-list__item">
          <h4 class="subject-title">Grammar</h4>
          <ul class="topic-list">
            <li class="topic-list__item">Nouns & Articles</li>
            <li class="topic-list__item">Adjectives & Adverb</li>
          </ul>
        </li>
        <li class="subject-list__item">
          <h4 class="subject-title">
            Vocabulary
          </h4>
          <ul class="topic-list">
            <li class="topic-list__item">Nouns & Articles</li>
            <li class="topic-list__item">Adjectives & Adverb</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="semester-list__item">
      <h3 class="semester-title">
        <span class="semester-number">2</span> semester
      </h3>
      <ul class="subject-list">
        <li class="subject-list__item">
          <h4 class="subject-title">Grammar</h4>
          <ul class="topic-list">
            <li class="topic-list__item">Pronouns</li>
            <li class="topic-list__item">Active Voice</li>
            <li class="topic-list__item">Passive Voice</li>
          </ul>
        </li>
        <li class="subject-list__item">
          <h4 class="subject-title">Vocabulary</h4>
          <ul class="topic-list">
            <li class="topic-list__item">Home</li>
            <li class="topic-list__item">School</li>
            <li class="topic-list__item">Work</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="semester-list__item">
      <h3 class="semester-title">
        <span class="semester-number">3</span> semester
      </h3>
      <ul class="subject-list">
        <li class="subject-list__item">
          <h4 class="subject-title">Grammar</h4>
          <ul class="topic-list">
            <li class="topic-list__item">Modal verbs</li>
            <li class="topic-list__item">Infinitive</li>
            <li class="topic-list__item">Gerund</li>
            <li class="topic-list__item">Participle: 1,2</li>
          </ul>
        </li>
        <li class="subject-list__item">
          <h4 class="subject-title">Vocabulary</h4>
          <ul class="topic-list">
            <li class="topic-list__item">Travel & Tourism</li>
            <li class="topic-list__item">Culture & Free Time</li>
            <li class="topic-list__item">Sport</li>
          </ul>
        </li>
        <li class="subject-list__item">
          <h4 class="subject-title">Writing</h4>
          <ul class="topic-list">
            <li class="topic-list__item">Informal Letter</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="semester-list__item">
      <h3 class="semester-title">
        <span class="semester-number">4</span> semester
      </h3>
      <ul class="subject-list">
        <li class="subject-list__item">
          <h4 class="subject-title">Grammar</h4>
          <ul class="topic-list">
            <li class="topic-list__item">Clauses: Conditional and Wishes</li>
            <li class="topic-list__item">Direct / Reported speech</li>
            <li class="topic-list__item">Preposition</li>
            <li class="topic-list__item">Conjunction</li>
            <li class="topic-list__item">Numeral</li>
          </ul>
        </li>
        <li class="subject-list__item">
          <h4 class="subject-title">Vocabulary</h4>
          <ul class="topic-list">
            <li class="topic-list__item">Healthy Living</li>
            <li class="topic-list__item">Nature & Environment</li>
            <li class="topic-list__item">Money</li>
          </ul>
        </li>
        <li class="subject-list__item">
          <h4 class="subject-title">Writing</h4>
        <ul class="topic-list">
          <li class="topic-list__item">Formal Letter</li>
        </ul>
        </li>
      </ul>
    </li>
    <li class="semester-list__item">
    <h3 class="semester-title">
      <span class="semester-number">5</span> semester
    </h3>
    <ul class="subject-list">
      <li class="subject-list__item">
        <ul class="topic-list">
          <li class="topic-list__item">Revision</li>
          <li class="topic-list__item">Tests</li>
        </ul>
      </li>
    </ul>
    </li>
  </ul>
  <picture>
    <source srcset="
        ./images/program/program-desk-webp.webp    1x,
        ./images/program/program-desk@2x-webp.webp 2x
      " media="(min-width: 1366px)" type="image/webp" />

    <source srcset="./images/program/program-desk.png 1x, ./images/program/program-desk@2x.png 2x"
      media="(min-width: 1366px)" />

    <source srcset="
        ./images/program/program-tab-webp.webp    1x,
        ./images/program/program-tab@2x-webp.webp 2x
      " media="(min-width: 768px)" type="image/webp" />

    <source srcset="./images/program/program-tab.png 1x, ./images/program/program-tab@2x.png 2x"
      media="(min-width: 768px)" />

    <source srcset="
        ./images/program/program-mob-webp.webp    1x,
        ./images/program/program-mob@2x-webp.webp 2x
      " media="(min-width: 480px)" type="image/webp" />

    <source srcset="./images/program/program-mob.png 1x, ./images/program/program-mob@2x.png 2x"
      media="(min-width: 480px)" />
    <img src="./images/program/program-desk.png" alt="lesson" />
  </picture>
  <div class="benefits-list-container">
    <ul class="benefits-list">
      <li class="benefits-list__item">
        <h3 class="benefits-list__number">01</h3>
      <p class="benefits-list__overtitle">Training in small groups</p>
      </li>
      <li class="benefits-list__item">
        <h3 class="benefits-list__number">02</h3>
      <p class="benefits-list__overtitle">Rendered notes</p>
      </li>
      <li class="benefits-list__item">
        <h3 class="benefits-list__number">03</h3>
      <p class="benefits-list__overtitle">Each lesson has a goal and a specific result</p>
      </li>
      <li class="benefits-list__item">
        <h3 class="benefits-list__number">04</h3>
      <p class="benefits-list__overtitle">The real results of the teacher</p>
      </li>
      <li class="benefits-list__item">
        <h3 class="benefits-list__number">05</h3>
      <p class="benefits-list__overtitle">The course program meets the requirements of the MES of Ukraine</p>
      </li>
      <li class="benefits-list__item">
        <h3 class="benefits-list__number">06</h3>
      <p class="benefits-list__overtitle">Set of groups by level of knowledge</p>
      </li>
    </ul>
  </div>
</section>