<!-- REVIEWES -->
<section class="reveiwes">
  <div class="container reveiwes-container">
    <div class="reveiwes__slider">
      <h2 class="section-title">Feedback from graduates</h2>

      <div class="slider">
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img
                    class="reveiwes__photo"
                    src="./images/photo-slider/yulia_150х150-min.jpg"
                    srcset=""
                    alt="Yulia Sivonenko"
                  />
                </div>
                <a href="#">
                  <svg class="reveiwes__social">
                    <use href="./images/sprite.svg#icon-vk"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Yulia Sivonenko</h3>
                <p class="reveiwes__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reveiwes__text">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student ...
                  <a href="" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img
                    src="./images/photo-slider/marina_150х150-min.jpg"
                    srcset=""
                    alt="Maryna Halieva"
                  />
                </div>
                <a href="#">
                  <svg class="reveiwes__social">
                    <use href="./images/sprite.svg#icon-vk"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Maryna Halieva</h3>
                <p class="reveiwes__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reveiwes__text">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student ...
                  <a href="" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img
                    src="./images/photo-slider/lilia_150х150-min.jpg"
                    srcset=""
                    alt="Lilia Pishchuk"
                  />
                </div>
                <a href="#">
                  <svg class="reveiwes__social">
                    <use href="./images/sprite.svg#icon-vk"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Lilia Pishchuk</h3>
                <p class="reveiwes__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reveiwes__text">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student ...
                  <a href="" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img
                    src="./images/photo-slider/uliana_150х150-min.jpg"
                    srcset=""
                    alt="Ulyana Vasilchenko"
                  />
                </div>
                <a href="#">
                  <svg class="reveiwes__social">
                    <use href="./images/sprite.svg#icon-vk"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Ulyana Vasilchenko</h3>
                <p class="reveiwes__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reveiwes__text">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student ...
                  <a href="" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img
                    src="./images/photo-slider/olga_150х150-min.jpg"
                    srcset=""
                    alt="Olga Grishchuk"
                  />
                </div>
                <a href="#">
                  <svg class="reveiwes__social">
                    <use href="./images/sprite.svg#icon-vk"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Olga Grishchuk</h3>
                <p class="reveiwes__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reveiwes__text">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student ...
                  <a href="" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img
                    src="./images/photo-slider/vitalii_150x150-min.jpg"
                    srcset=""
                    alt="Vitaly Bliskun"
                  />
                </div>
                <a href="#">
                  <svg class="reveiwes__social">
                    <use href="./images/sprite.svg#icon-vk"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Vitaly Bliskun</h3>
                <p class="reveiwes__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reveiwes__text">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student ...
                  <a href="" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img
                    src="./images/photo-slider/victor_150x150-min.jpg"
                    srcset=""
                    alt="Victor Kovalev"
                  />
                </div>
                <a href="#">
                  <svg class="reveiwes__social">
                    <use href="./images/sprite.svg#icon-vk"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Victor Kovalev</h3>
                <p class="reveiwes__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reveiwes__text">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student ...
                  <a href="" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img
                    src="./images/photo-slider/evgen_150х150-min.jpg"
                    srcset=""
                    alt="Eugen Gorokhov"
                  />
                </div>
                <a href="#">
                  <svg class="reveiwes__social">
                    <use href="./images/sprite.svg#icon-vk"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Eugen Gorokhov</h3>
                <p class="reveiwes__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reveiwes__text">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student ...
                  <a href="" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img
                    src="./images/photo-slider/ivan_150x150-min.jpg"
                    srcset=""
                    alt="Ivan Onofrijcuk"
                  />
                </div>
                <a href="#">
                  <svg class="reveiwes__social">
                    <use href="./images/sprite.svg#icon-vk"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Ivan Onofrijcuk</h3>
                <p class="reveiwes__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reveiwes__text">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student ...
                  <a href="" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
