<!-- REVIEWES -->
<section class="reveiwes">
  <div class="container reveiwes-container">
    <div class="reveiwes__slider">
      <h2 class="section-title">Feedback from graduates</h2>

      <div class="slider">
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img class="reveiwes__photo" src="./images/photo-slider/yulia_150х150-min.jpg"
                    alt="Yulia Sivonenko" />
                </div>
                <a href="#">
                  <svg class="reveiwes__social" width="30">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Yulia Sivonenko</h3>
                <p class="reveiwes__course" lang="uk">
                  Ментор від Бога, найкращий наставник,чудова, комунікабельна людина
                </p>
                <p class="reveiwes__text" lang="uk">
                  Практиковала з нами HTLM і CSS, тренувала роботі в GitHub і GitHub Desktop, навчила роботі з
                  терміналом Node.js.
                  Згуртувала всіх учасників і виховала з нас команду.
                  Допомогла кожному розібратися з помилками та важкими моментами під час навчання, максимально комфортно
                  проводила блендеди,
                  на яких відчувалося тепло та увага до кожного студента, своєю харизмою додавала наснаги справитися з
                  кожною проблемою,
                  яка зустрічалася на нашому шляху вивчення модулю HTML+CSS 2.0 ...
                  <a href="https://github.com/Sivonenko" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img src="./images/photo-slider/marina_150х150-min.jpg" alt="Maryna Halieva" />
                </div>
                <a href="#">
                  <svg class="reveiwes__social" width="30">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Maryna Haliieva</h3>
                <p class="reveiwes__course" lang="uk">
                  Член та тім-лід команди 202ACCEPTED.
                  Учасник групового проекту навчального курсу GoIT по розробці сайту HellEN.
                </p>
                <p class="reveiwes__text" lang="uk">

                  Розробляла секцію "Hero", модальне вікно, застосовувала на нього JS. Додала фавікон.
                  Працювала з найкращою командою - бджілками -трудяжками.
                  І завдяки їх впертості і наполегливості ми реалізували такий гарний і непростий проект ...
                  <a href="https://github.com/maryna-haliieva" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img src="./images/photo-slider/lilia_150х150-min.jpg" alt="Lilia Pishchuk" />
                </div>
                <a href="#">
                  <svg class="reveiwes__social" width="30">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Liliia Pishchuk</h3>
                <p class="reveiwes__course" lang="uk">
                  Член та скрам-майстер команди 202ACCEPTED. Учасник групового проекту навчального курсу GoIT по
                  розробці сайту HELLen.
                </p>
                <p class="reveiwes__text" lang="uk">
                  Працювала над створенням секцій Header, Guarantee, мобільним та планшетним меню. Застосувала анімацію
                  для логотипу та навігації по сайту. Підключила js - для мобільного меню. Використала якірне посилання
                  на відповідні розділи ...
                  <a href="https://github.com/Liliya-Pishchuk" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img src="./images/photo-slider/uliana_150х150-min.jpg" alt="Uliana Vasylchenko" />
                </div>
                <a href="#">
                  <svg class="reveiwes__social" width="30">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Ulyana Vasilchenko</h3>
                <p class="reveiwes__course" lang="uk">
                  Член команди "202 Accepted", учасниця групового проекту HellEN
                </p>
                <p class="reveiwes__text" lang="uk">
                  Розробляла секцію "How do we do it". Hover/focus реалізувала з CSS-переходами. Вирішувала декоративні
                  питання ...
                  <a href="https://github.com/ulianabarnas" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img src="./images/photo-slider/olga_150х150-min.jpg" alt="Olga Grishchuk" />
                </div>
                <a href="#">
                  <svg class="reveiwes__social" width="30">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Olga Grishchuk</h3>
                <p class="reveiwes__course" lang="uk">
                  Член команди "202ACCEPTED", учасниця групового проекту навчального курсу GoIT по розробці сайту HellEN
                </p>
                <p class="reveiwes__text" lang="uk">
                  Працювала над створенням секції "About". Застосувала підключення JavaScript для відкриття модального
                  вікна та його закриття через клік за межами діалогу відкритого вікна. Використала CSS-переходи ...
                  <a href="https://github.com/OlgaGryshchuk" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img src="./images/photo-slider/vitalii_150x150-min.jpg" alt="Vitaly Bliskun" />
                </div>
                <a href="#">
                  <svg class="reveiwes__social" width="30">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Vitaly Bliskun</h3>
                <p class="reveiwes__course" lang="uk">
                  Член команди 202ACCEPTED.
                  Учасник групового проекту навчального курсу GoIT по розробці сайту HellEN.

                </p>
                <p class="reveiwes__text" lang="uk">
                  Працював над створенням секцій Advantages, Problems та Benefits ...
                  <a href="https://github.com/VitaliiBlyskun" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img src="./images/photo-slider/victor_150x150-min.jpg" alt="Victor Kovalev" />
                </div>
                <a href="#">
                  <svg class="reveiwes__social" width="30">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Viktor Kovalov</h3>
                <p class="reveiwes__course" lang="uk">
                  Член команди 202АССЕPTED. Учасник групового проекту навчального курсу GoIT по розробці сайту HellEN.
                </p>
                <p class="reveiwes__text" lang="uk">
                  Працював над створенням секції “Our program”.
                  <a href="https://github.com/Orangemaaan" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img src="./images/photo-slider/evgen_150х150-min.jpg" alt="Eugen Gorokhov" />
                </div>
                <a href="#">
                  <svg class="reveiwes__social" width="30">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Eugen Gorokhov</h3>
                <p class="reveiwes__course" lang="uk">
                  Член команди "202ACCEPTED", учасник групового проекту навчального курсу GoIT по розробці сайту HellEN
                </p>
                <p class="reveiwes__text" lang="uk">
                  Працював над створенням секцій "Contacts" та "Footer".
                  В розділі "Contacts" в формах прописані мінімальні данні для валідації, які підсвічюються, якщо було
                  введено некоректну інформацію.
                  В розділі "footer" було зроблено анімації на інтерактивні елементи, при натисканні на номер телефону,
                  переносить на дзвінки, використанні посилання на соціальні мережі ...
                  <a href="https://github.com/Shvaider" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img src="./images/photo-slider/ivan_150x150-min.jpg" alt="Ivan Onofrijcuk" />
                </div>
                <a href="#">
                  <svg class="reveiwes__social" width="30">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Ivan Onofrijcuk</h3>
                <p class="reveiwes__course" lang="uk">
                  Член команди 202ACCEPTED. Учасник групового проекту навчального курсу GoIT по розробці сайту HELLen
                </p>
                <p class="reveiwes__text" lang="uk">
                  Працював над створенням секції Reveiwer, підключенням Slick Slider. Застосував підключення анімації за
                  допомогою animate.style, підключив за допомогою JS кнопку Scroll to top, отримав задоволення від
                  роботи в чудовій команді ...
                  <a href="https://github.com/Keshikimbo" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>