<!-- REVIEWES -->
<section class="reveiwes">
  <div class="container reveiwes-container">
    <div class="reveiwes__slider">
      <h2 class="section-title">Feedback from graduates</h2>

      <div class="slider">
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img
                    class="reveiwes__photo"
                    src="./images/photo-slider/yulia_150х150-min.jpg"
                    srcset=""
                    alt="Yulia Sivonenko"
                  />
                </div>
                <a href="#">
                  <svg class="reveiwes__social" width="30" heigh="18">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Yulia Sivonenko</h3>
                <p class="reveiwes__course" lang="ua">
                  Ментор від Бога, найкращий наставник,чудова, комунікабельна людина
                </p>
                <p class="reveiwes__text" lang="ua">
                  Сьогодні, 24 травня святкує свій день народження чудова людина, красива дівчина, ментор від Бога, найкращий наставник, Юлія Миколаївна Сивоненко.
                  Ми дружньою командою, від усього щирого серця хочем її привітати.
                  <a href="https://github.com/Sivonenko" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img
                    src="./images/photo-slider/marina_150х150-min.jpg"
                    srcset=""
                    alt="Maryna Halieva"
                  />
                </div>
                <a href="#">
                  <svg class="reveiwes__social" width="30" heigh="18">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Maryna Haliieva</h3>
                <p class="reveiwes__course" lang="ua">
                  Член та тім-лід команди 202ACCEPTED. 
                </p>
                <p class="reveiwes__text" lang="ua">
                 Юлічка, вітаю тебе з Днем народження!

Бажаю, щоб усе в житті складалося так, як серце мріє! Щоб усі твої справи супроводжувалися коханням!
Нехай всі прагнення неодмінно збуваються, а поруч з будуть лише щирі та правильні люди.
Усього найкращого тобі, і будь завжди собою, тобі це дуже личить!
                  <a href="https://github.com/maryna-haliieva" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img
                    src="./images/photo-slider/lilia_150х150-min.jpg"
                    srcset=""
                    alt="Lilia Pishchuk"
                  />
                </div>
                <a href="#">
                  <svg class="reveiwes__social" width="30" heigh="18">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Liliia Pishchuk</h3>
                <p class="reveiwes__course" lang="ua">
                  Член та скрам-майстер команди 202ACCEPTED. Учасник групового проекту навчального курсу GoIT по розробці сайту HELLen.
                </p>
                <p class="reveiwes__text" lang="ua">
                  Бажаю по життю зустрічати таких людей, які б запам'ятовувались: таких, кого хотілось би бачити, обіймати, спілкування з якими збагачувало б досвідом, наповнювало б енергією і покращувало настрій.
                 Бажаю, щоб ти була в гармонії з собою та оточуючими тебе людьми і світом.
                  <a href="https://github.com/Liliya-Pishchuk" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img
                    src="./images/photo-slider/uliana_150х150-min.jpg"
                    srcset=""
                    alt="Uliana Vasylchenko"
                  />
                </div>
                <a href="#">
                  <svg class="reveiwes__social" width="30" heigh="18">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Ulyana Vasilchenko</h3>
                <p class="reveiwes__course" lang="ua">
                  Член команди "202 Accepted", учасниця групового проекту HELLen
                </p>
                <p class="reveiwes__text" lang="ua">
                  Вітаю з Днем народження.
                  Бажаю жіночого щастя та спокійних ночей. Щоб ніхто не діяв на нерви, а якщо що, то котик замуркотив увесь стрес!
                  <a href="https://github.com/ulianabarnas" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img
                    src="./images/photo-slider/olga_150х150-min.jpg"
                    srcset=""
                    alt="Olga Grishchuk"
                  />
                </div>
                <a href="#">
                  <svg class="reveiwes__social" width="30" heigh="18">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Olga Grishchuk</h3>
                <p class="reveiwes__course" lang="ua">
                 Член команди "202ACCEPTED", учасниця групового проекту навчального курсу GoIT по розробці сайту HELLen
                </p>
                <p class="reveiwes__text" lang="ua">
                  Працювала над створенням секції "About". Застосувала підключення JavaScript для відкриття модального вікна та його закриття через клік за межами діалогу відкритого вікна. Використала CSS-переходи ...
                  <a href="https://github.com/OlgaGryshchuk" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img
                    src="./images/photo-slider/vitalii_150x150-min.jpg"
                    srcset=""
                    alt="Vitaly Bliskun"
                  />
                </div>
                <a href="#">
                  <svg class="reveiwes__social" width="30" heigh="18">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Vitaly Bliskun</h3>
                <p class="reveiwes__course" lang="ua">
                  Член команди 202ACCEPTED. 
Учасник групового проекту навчального курсу GoIT по розробці сайту HELLen.

                </p>
                <p class="reveiwes__text" lang="ua">
                  Вітаву тя з дньом рожденія. Най бде міцноє здоровля і не болит рано голова, якщо сльози, то уд щастя, якщо плавати, то в любови і файних емоціях. 
                  Порядного фатьова, надьожних цімборок, повну хижу косиць і хмару темну всякого цурятя, вбись беровала пити палинку, сербати бограч і постоянно підниматися уверх по гарадичах до свої мети.
                   Вби житуха була солодиньков, а здоровля міцниньким, грошики ллялися ріков і вби все хотілося домів!!!.
                    З празничком!
                  <a href="https://github.com/VitaliiBlyskun" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img
                    src="./images/photo-slider/victor_150x150-min.jpg"
                    srcset=""
                    alt="Victor Kovalev"
                  />
                </div>
                <a href="#">
                  <svg class="reveiwes__social" width="30" heigh="18">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Victor Kovalev</h3>
                <p class="reveiwes__course" lang="ua">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reveiwes__text" lang="ua">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student ...
                  <a href="https://github.com/Orangemaaan" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img
                    src="./images/photo-slider/evgen_150х150-min.jpg"
                    srcset=""
                    alt="Eugen Gorokhov"
                  />
                </div>
                <a href="#">
                  <svg class="reveiwes__social" width="30" heigh="18">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Eugen Gorokhov</h3>
                <p class="reveiwes__course" lang="ua">
                  Член команди "202ACCEPTED", учасник групового проекту навчального курсу GoIT по розробці сайту HELLen
                </p>
                <p class="reveiwes__text" lang="ua">
                 Щиро вітаю з днем народження! Бажаю реалізувати найголовніші проекти життя!
                  Нехай в усіх справах супроводжує успіх, натхнення та чудовий результат.
                   Залишайся завжди такою ж позитивною та веселою людиною!
                  <a href="https://github.com/Shvaider" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reveiwes__block">
            <li class="reveiwes__item">
              <div class="reveiwes__left-side">
                <div class="reveiwes__avatar">
                  <img
                    src="./images/photo-slider/ivan_150x150-min.jpg"
                    srcset=""
                    alt="Ivan Onofrijcuk"
                  />
                </div>
                <a href="#">
                  <svg class="reveiwes__social" width="30" heigh="18">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </div>
              <div class="reveiwes__right-side">
                <h3 class="reveiwes__name">Ivan Onofrijcuk</h3>
                <p class="reveiwes__course" lang="ua" >
                  Член команди 202ACCEPTED. Учасник групового проекту навчального курсу GoIT по розробці сайту HELLen
                </p>
                <p class="reveiwes__text lang="ua"">
                  Вітаю з Днем Народження! Залишайся завжди такою ж красивою, сонячною, ніжною та жіночною. 
                  Нехай тебе оточують щирі посмішки, справжні друзі і люблячі люди.
                   Нехай робота буде в радість, а життя – в задоволення!
                    Будь щаслива, не забувай радіти і жити на повну катушку!
                  <a href="https://github.com/Keshikimbo" class="reveiwes__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
