.is-open-modal {
  overflow: hidden;
}

.modal {
  position: fixed;
  z-index: 1000;
  background-color: rgba(17, 21, 24, 0.9);
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


.dialog {
  box-sizing: border-box;
  width: 100vw;
  height: 434px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-image: url("../images/about/cambrige.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @media screen and (max-width:767px) {
    max-width: 308px;
  }
}

@media screen and (min-width:768px) {
  .dialog {
    width: 432px;
    height: 608px;
  }
}

@media screen and (min-width:1680px) {
  .dialog {
    width: 555px;
    height: 781px;
  }
}