.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}


.modal {
  margin: 50px;
  width: 100vw;
  height: auto;
  // background-image: url("../../images/about/cambrige.jpg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // @media screen and (min-width:480px) {
  //   width: 450px;
  // }

  // @media screen and (min-width:1200px) {
  //   width: 528px;
  //   height: 580px;
  // }
}