.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section__title {
  margin-bottom: 20px;
}

.about__picture {
  display: block;

  @media screen and (max-width:767px) {
    margin-bottom: 20px;
  }
}

.about-block-title {
  width: 100%;
  padding-bottom: 8px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--primary-text-color);
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-title-color);
}

.about-block-list {
  margin-bottom: 36px;
  }

.about-block-list__item {
  position: relative;
}

.about-block-list__item:not(:last-child) {
  margin-bottom: 30px;
}


.about-block-list__item-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 17.08px;
  height: 14px;
  background-image: url("../images/about/tab-mob-check-icon.svg");
}

.about-block-list__item-text {
  display: flex;
  align-items: baseline;
  margin-left: 26px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.about-block__description::before {
  content: "";
  display: block;
  margin-bottom: 20px;
  width: 20px;
  height: 2px;
  background-color: var(--accent-color);
}

.about-block__description {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.03em;
}

.about-block__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    text-decoration: underline;
    color: var(--accent-color);
}

@media screen and (max-width:767px) {

  .about-container {
    width: 280px;
    }

  .section__title {
    font-size: 20px;
  }
}

@media screen and (max-width:1679px) {

  .about-container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width:768px) and (max-width:1679px) {
  .about__wrapper {
    justify-content: space-between;
  }
}

@media screen and (min-width:768px) {
    
  .about__wrapper {
    display: flex;
  }

  .section__title {
    margin-bottom: 40px;
  }

  .about-block {
    width: 402px;
  }

  .about-block-list {
    margin-bottom: 50px;
  }

  .about-block-list__item-text {
    font-size: 12px;
    line-height: 1.25;
  }

  .about-block__description {
    margin-bottom: 24px;
    font-size: 10px;
    line-height: 2;
  }
}

@media screen and (min-width:1680px) {

  .section {
    padding-top: 80px;
    padding-bottom: 120px;
    }

  .about-container {
    width: 1368px;
    margin-left: 0;
    padding-right: 0;
  }

  .section__title {
    margin-bottom: 80px;
  }

  .about-block {
    width: 668px;
  }

  .about__picture {
    margin-right: 172px;
  }

  .about-block-title {
    padding-bottom: 16px;
    margin-bottom: 32px;
    font-size: 30px;
    line-height: 1.23;
  }

  .about-block-list {
    margin-bottom: 56px;
  }

  .about-block__description {
    margin-bottom: 48px;
    font-size: 18px;
    line-height: 1.56;
  }

  .about-block__description-desktop {
    display: block;
    margin-bottom: 16px;
  }

  .about-block__link {
    font-size: 18px;
    line-height: 1.56;
  }

  .about-block-list__item-text {
    margin-left: 58px;
    font-size: 16px;
  }

  .about-block-list__item-text::before {
    width: 24.41px;
    height: 20px;
    background-image: url("../images/about/desktop-check-icon.svg");
  }
}
