.advantages {
    background-color: var(--footerfirst-bg-color);
    width: 100%;
    padding-top: 35px;
    padding-bottom: 45px;
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
}

.advantages__item {
    display: flex;
    margin-bottom: 24px;
}

.advantages__priority {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    padding-right: 53px;
    margin-left: 12px;
    line-height: 1.6;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    color: #111518;
}

// з цим розбиратися

// .advantages__icon{
//     color: var(--accent-color);
// }

// .advantages__icon:before {
//     content: '';
//     display: inline-block;
//     width: 100%;
//     height: 100%; 
//     background-color: url(../../images/sprite.svg#icon-autors);
// }




// з цим розбиратися

.advantages__item_last {
    margin-bottom: 0;
}



@media screen and (min-width: 768px) {
        .container {
            padding-left: 20px;
            padding-right: 20px;
            width: 768px;
        }

        .advantages {
            padding-top: 40px;
            padding-bottom: 80px;
        }

        .advantages__list {
            justify-content: space-between;
            flex-wrap: nowrap;
        }

        .advantages__item {
            margin-bottom: 0;  
        }

        .advantages__priority {
            padding-right: 45px;
            margin-left: 12px;
        }
}

@media screen and (min-width: 1680px) {
    .container {
        width: 1680px;
    }

    .advantages__priority {
        font-size: 14px;
        width: 366px;
        padding-right: 160px;
        margin-right: 112px;
        margin-left: -10px;
        line-height: 1.6;
    }
  }