.advantages {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.advantages__item {
    display: flex;
    width: 280px;
    margin-bottom: 24px;
}

.advantages__priority {
    font-weight: 700;
    font-size: 14px;
    padding-right: 53px;
    margin-left: 12px;
    line-height: 1.6;
    display: flex;
    align-items: center;
    color: var(--footersecond-bg-color);
}

.advantages__item_autors::before {
    content: '';
    display: inline-block;
    width: 59px;
    height: 60px;
    background-image: url(../images/autors.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.advantages__item_guarantee::before {
    content: '';
    display: inline-block;
    width: 59px;
    height: 60px;
    background-image: url(../images/guarantee.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.advantages__item_methods::before {
    content: '';
    display: inline-block;
    width: 59px;
    height: 60px;
    background-image: url(../images/methods.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.advantages__item_last {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .advantages {
        padding-top: 44px;
        padding-bottom: 80px;
    }

    .advantages__list {
        justify-content: space-between;
        flex-wrap: nowrap;
        height: 64px;
    }

    .advantages__item {
        width: 216px;
        margin-bottom: 0;  
    }

    .advantages__item_autors::before {
        content: '';
        width: 100px;
        height: 60px;
    }

    .advantages__item_methods::before {
        content: '';
        display: inline-block;
        width: 60px;
        height: 60px;
        padding-right: 55px;
    }

    
    .advantages__item_guarantee::before {
        content: '';
        width: 140px;
        height: 60px;
    }
    
    .advantages__priority {
        padding-right: 0;
    }


    .advantages__priority_autors {
        margin-left: 10px;
    }

    .advantages__priority_methods {
        margin-left:15px ;
    }

    .advantages__priority_guarantee {
        margin-left: 17px;
        margin-right: 30px;
    }
}


@media screen and (min-width: 1680px) {
    .container {
        width: 1680px;
    }

    .advantages {
        padding-top: 44px;
    }

    .advantages__list {
        width: 1569px;
        height: 102px;
    }

    .advantages__priority {
        font-size: 20px;
        width: 366px;
        padding-right: 0;
        margin-left: -16px;
        line-height: 1.6;
    }

    .advantages__item {
        width: 448px;
    }

    .advantages__priority_autors {
        padding-right: 104px;
    }

    .advantages__priority_guarantee {
        padding-right: 97px;
    }

    .advantages__priority_methods {
        padding-right: 81px;
    }


    .advantages__item_autors::before {
        width: 100px;
        height: 102px;
        background-image: url(../images/autors-desktop.svg);
    }

    .advantages__item_guarantee::before {
        width: 100px;
        height: 102px;
        background-image: url(../images/guarantee-desktop.svg);
    }

    .advantages__item_methods::before {
        width: 100px;
        height: 102px;
        background-image: url(../images/methods-desktop.svg);
    }

}