.second-title__benefits {
    @extend %second-title;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
    padding-right: 100px;
}

.benefits {
    background-image: linear-gradient(
    to bottom,
    var(--footersecond-bg-color) 62%,
    var(--primary-bg-color) 38%);
    
    counter-reset: section;
}

.benefits__item::before {
    counter-increment: section;
    content: "— 0" counter(section) " ";
    
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.6;
    color: var(--accent-color);  
}

.benefits__accent {
    color: var(--accent-color);
}

.benefits__list {
    position: relative;
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 38px;
    padding-bottom: 24px;
    background-color: var(--primary-bg-color);
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    z-index: 3;
}

.benefits__item {
    margin-bottom: 16px;  
}

.benefits__item_last {
    margin-bottom: 0;
}

.benefits__description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    color: var(--footersecond-bg-color);
    margin: 0;
}


@media screen and (min-width: 768px) {
    .second-title__benefits {
        font-size: 26px;
        line-height: 1.3;
        padding-right: 0;
        margin-bottom: 40px;
        text-align: center;
    }
    

    .benefits__list {
        display: flex;
        flex-wrap: wrap;
        padding-top: 40px;
        padding-left: 92px;
        padding-right: 112px;
        padding-bottom: 40px;
    }

    .benefits__item {
        margin-bottom: 44px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1679px) {
    .benefits__item {

        &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }
    
    
        &:nth-child(2n + 1) {
            width: 236px;
            margin-right: 32px;
        }
    
        &:nth-child(2n) {
            width: 216px;
        }
    }
}


@media screen and (min-width: 1680px) {
    .second-title__benefits {
        display: none;
    }

    .benefits__list {
        padding-top: 60px;
        padding-left: 140px;
        padding-right: 32px;
        padding-bottom: 60px;
    }

    .benefits__description {
        font-size: 20px;
        line-height: 1.4;
    }

    .benefits__item {
        width: 356px;
        margin-right: 204px;

        &::before {
            font-size: 20px;
            line-height: 1.7;
        }

        &:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }
    
    
        &:nth-child(3n + 3) {
            margin-right: 0;
        }
    }

}