/* contacts section */
.section-contacts {
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-contacts {
    background-color: var(--secondary-bg-color);
    background-image: url(../images/contacts/contacts-bg-mob.png);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-contacts {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/contacts/contacts-bg-mob@2x.png');
    }
}

.form__field {
    display: block;
    align-items: center;
}

.contacts__title {
    margin: 0 auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color);
}

.contacts__title-slogan {
    color: var(--accent-color);
}

.contacts__subtitle {
    margin: 0 auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.08em;
    color: var(--primary-bg-color);
}

.contacts__subtitle-slogan {
    color: var(--accent-color);
}

.contacts__form {
    display: flex;
    flex-direction: column;
    ;
    justify-content: center;
}

.form__field:nth-child(1) {
    margin-bottom: 32px;
}

.form__input-wrapper {
    display: block;
    align-items: center;
    padding-left: 0;
    margin-bottom: 40px;
    margin-top: 0;
}

.form_input {
    padding-left: 24px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid var(--primary-bg-color);
    background: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    color: var(--primary-bg-color);
    transition: border var(--duration) cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}

.form_input:hover,
.form_input:focus {
    border: 1px solid var(--accent-color);
    outline: none;
}

.form_input::placeholder {
    color: var(--primary-bg-color);
}

.form__send-btn {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    align-items: center;
    letter-spacing: 0.08em;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    background: var(--accent-color);
    font-family: 'Montserrat';
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: var(--primary-bg-color);
    transition: background-color var(--duration) cubic-bezier(0.4, 0, 0.2, 1), color var(--duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.form__send-btn:hover,
.form__send-btn:focus {
    background: var(--primary-bg-color);
    color: var(--footersecond-bg-color);
}

.form_input:invalid {
    border-color: #DD2C00;
}

/* 0px - 768px  */
@media screen and (max-width: 767px) {
    .section-contacts {
        background-color: var(--footersecond-bg-color);
        background-image: url(../images/contacts/contacts-bg-mob.png);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section-contacts {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/contacts/contacts-bg-mob@2x.png');
        }
    }

    .contacts__title {
        max-width: 280px;
        font-size: 14px;
        margin-bottom: 24px;
    }

    .contacts__subtitle {
        max-width: 280px;
        font-size: 12px;
        line-height: 1.25;
        margin-bottom: 40px;
    }

    .form__field:nth-child(1) {
        margin-bottom: 20px;
    }

    .contacts__tel {
        margin-bottom: 40px;
    }

    .form_input {
        padding-left: 28px;
        min-width: 280px;
        min-height: 48px;
    }

    .contacts__container {
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 480px;
    }

    .form__send-btn {
        min-width: 280px;
        min-height: 48px;

    }
}

@media screen and (min-width: 768px) {
    .section-contacts {
        background-color: var(--footersecond-bg-color);
        background-image: url(../images/contacts/contacts-bg-tab.png);
    }

    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (min-resolution: 2dppx) {
        .section-contacts {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/contacts/contacts-bg-tab@2x.png');
        }
    }

    .contacts__title {
        max-width: 575px;
        font-weight: 800;
        font-size: 26px;
        margin-bottom: 40px;
    }

    .contacts__subtitle {
        max-width: 360px;
        font-size: 14px;
        line-height: 1.21;
        margin-bottom: 24px;
    }

    .form__field:nth-child(1) {
        margin-bottom: 20px;
    }

    .form__input-wrapper {
        margin-bottom: 32px;
    }

    .form_input {
        padding-left: 24px;
        width: 336px;
        height: 48px;
    }

    .form__send-btn {
        width: 335px;
        height: 48px;
    }
}

/* 1680px +  */
@media screen and (min-width: 1680px) {
    .section-contacts {
        padding-bottom: 80px;
        padding-top: 80px;
        text-align: center;
    }

    .section-contacts {
        background-color: var(--footersecond-bg-color);
        background-image: url(../images/contacts/contacts-bg-desk.png);
    }

    @media screen and (min-width: 1680px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1680px) and (min-resolution: 192dpi),
    screen and (min-width: 1680px) and (min-resolution: 2dppx) {
        .section-contacts {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/contacts/contacts-bg-desk@2x.png');
        }
    }

    .contacts__title {
        font-size: 26px;
        max-width: 834px;
        font-size: 46px;
    }

    .contacts__subtitle {
        max-width: 850px;
        font-size: 30px;
        line-height: 1.23;
        margin-bottom: 60px;
    }

    .form__field {
        margin-bottom: 40px;
    }

    .form__send-btn {
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.14em;
    }

    .form_input {
        font-size: 20px;
    }
}