.guarantee__title {
  text-align: center;
  margin-bottom: 40px;
}

.guarantee__container {
  background-color: var(--tertiary-bg-color);
}

.guarantee__container-list {
  margin-left: auto;
  margin-right: auto;
}

.guarantee__item {
  font-weight: 500;
  color: var(--secondary-text-color);
}

.guarantee__item_akcent {
  color: var(--accent-color);
}

@media screen and (max-width: 1679px) {
  .guarantee__item {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.6px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }

  .guarantee__container-list {
    width: 280px;
  }

  .guarantee__list {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .guarantee__item {
    margin-left: 20px;
  }

  .guarantee__item:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .guarantee__container-list {
    width: 599px;
  }

  .guarantee__list {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .guarantee__item {
    margin-left: 24px;
  }

  .guarantee__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1680px) {
  .guarantee__container-list {
    width: 1090px;
  }

  .guarantee__list {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .guarantee__item {
    margin-left: 30px;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.3px;
  }
}
