.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1679px) {
  .header__nav-list {
    display: none;
  }

  .header__burger-btn {
    margin-left: 40px;
    padding: 0;
    border: none;
    line-height: 0;
    background-color: transparent;
  }

  .header__burger-icon {
    transition: 250ms linear;

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 20px;
  }

  .header__button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 40px;
  }

  .header__button {
    min-width: 260px;
    min-height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.14em;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-color);
    background-color: transparent;
    border: 2px solid var(--accent-color);
    transition: 250ms linear;

    &:hover,
    &:focus {
      color: var(--primary-bg-color);
      background-color: var(--accent-color);
    }
  }
}

@media screen and (min-width: 1680px) {
  .header__navigation {
    display: flex;
    margin-left: auto;
  }

  .header__nav-list {
    display: flex;
    align-items: center;
  }

  .header__nav-item {
    margin-right: 40px;
  }

  .header__nav-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;
    transition: all 250ms linear;

    &:hover,
    &:focus {
      color: var(--accent-color);
      transform: scale(1.2);
    }
  }

  // .header__link: {
  //   transition: 1250ms liner;
  // }

  .header__button {
    min-width: 336px;
    min-height: 70px;
  }

  .header__burger-btn {
    display: none;
  }
}
