// COMMON
.card-set__list {
    text-align: center;
}

.card-set__item {
    background-color: var(--primary-bg-color);
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
}

.card-set__link {
    display: block;
    height: 100%;
    transition: background-color 250ms linear;

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.card-set__icon {
    fill: var(--accent-color);
    transition: fill 250ms linear;

    .card-set__link:hover &,
    .card-set__link:focus & {
        fill: var(--primary-bg-color);
    }
}

.card-set__title {
    color: var(--primary-title-color);
    transition: color 250ms linear;

    .card-set__link:hover &,
    .card-set__link:focus & {
        color: var(--primary-bg-color);
    }

    &::after {
        @extend %accent-line;       
        margin: 17px auto 17px auto;
        transition: background-color 250ms linear;

        .card-set__link:hover &,
        .card-set__link:focus & {
            background-color: var(--primary-bg-color);
        }
    }
}

.card-set__description {
    color: var(--primary-text-color);

    .card-set__link:hover &,
    .card-set__link:focus & {
        color: var(--primary-bg-color);
    }
}

// 0-767px only PHONES
@media screen and (max-width: 767.98px) {
    .how-we-do__title {
        margin-bottom: 30px;
    }

    .card-set__item {
        width: 100%;
    }

    .card-set__item:not(:last-child) {
        margin-bottom: 16px;
    }

    .card-set__wrapper {
        padding-top: 32px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 8px;
    }

    .card-set__icon {
        margin-bottom: 20px;
    }
}

// 0-1679px PHONES and TABLETS
@media screen and (max-width: 1679.98px) {
    .how-we-do {
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .how-we-do__title {
        text-align: center;
    }

    .card-set__title {
        @include font (700, 14px, 1.43, 0.08em);
    }

    .card-set__description {
        @include font (500, 12px, 1.67, 0.08em);
    }
}

// 768px+ TABLETS and DESKTOPS
@media screen and (min-width: 768px) {   
    .card-set__list {
        display: flex;
        flex-wrap: wrap;
    }

    .card-set__link {
        display: flex;
    }

    .card-set__icon {
        margin-bottom: 32px;
    }
}

// 768px - 1679px only TABLETS
@media screen and (min-width: 768px) and (max-width: 1679.98px) {
    .how-we-do__title {
        margin-bottom: 40px;
    }

    .card-set__item {
        flex-basis: calc((100% - 32px) / 2);

        &:not(:nth-child(2n)) {
            margin-right: 32px;
        }

        &:not(:nth-last-child(-n + 2)) {
            margin-bottom: 32px;
        }
    }

    .card-set__title::after {
        margin: 24px auto 21px auto;
    }

    .card-set__wrapper {
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
    }
}

// 1680px+ DESKTOPS
@media screen and (min-width: 1680px) {
    .how-we-do {
        padding-bottom: 80px;
        padding-top: 80px;
    }

    .how-we-do__title {
        margin-bottom: 80px;
    }

    .card-set__item {
        flex-basis: calc((100% - 64px) / 3);
    
        &:not(:nth-child(3n)) {
            margin-right: 32px;
        }
    
        &:not(:nth-last-child(-n + 3)) {
            margin-bottom: 32px;
        }
    }

    .card-set__wrapper {
        padding-top: 90px;
        padding-left: 81px;
        padding-right: 81px;
        padding-bottom: 90px;
    }

    .card-set__title {
        @include font (700, 20px, 1.4, 0.08em);
    }

    .card-set__description {
        @include font (500, 18px, 1.56, 0.08em);
    }
}