%second-title {
    font-weight: 800;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color);
}

.second-title__problems {
    @extend %second-title;
    width: 100%;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 24px;
}

.problems {
    padding-top: 24px;
    background-image: linear-gradient(
    to bottom,
    var(--footersecond-bg-color) 77%,
    var(--primary-bg-color) 23%);
    
    counter-reset: section;
}

.problems__item {
    margin-bottom: 16px;  
}

.problems__item_last {
    margin-bottom: 0;
}

.problems__item::before {
    counter-increment: section;
    content: "— 0" counter(section) " ";
    
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--accent-color); 
}

.problems__accent {
    color: var(--accent-color);
}

.problems__list {
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 38px;
    padding-bottom: 24px;
    height: 499px;
    background-color: var(--primary-bg-color);
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.problems__description {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    display: flex;
    align-items: center;
    color: var(--footersecond-bg-color);
}

@media screen and (min-width: 423px) and (max-width: 767px) {
    .problems__list {
    padding-top: 50px;
    }
}


@media screen and (min-width: 768px) {
    .problems {
        padding-top: 40px;
    }

    .second-title__problems {
        padding-right: 280px;
        margin-bottom: 25px;
    }

    .problems__list {
        display: flex;
        flex-wrap: wrap;
        height: 300px;
        padding-top: 31px;
        padding-left: 88px;
        padding-right: 0;
        padding-bottom: 33px;
    }

    .problems__item,
    .problems__item_last {
        margin-right: 0;
        margin-bottom: 0;
    }
}


@media screen and (min-width: 768px) and (max-width: 1679px) {
    .problems__item_grammar {
        padding-right: 140px;
        margin-right: 40px;
        margin-bottom: 24px;
    }

    .problems__item_english {
        width: 267px;
        padding-right: 60px;
        margin-bottom: 8px;
    }

    .problems__item_vocabulary {
        width: 236px;
        padding-right: 55px;
        margin-right: 20px;
        margin-bottom: 24px;
    }

    .problems__item_alone {
        margin-bottom: 47px;
    }

    .problems__item_resourse {
        width: 209px;
        margin-right: 47px;
    }

    .problems__item_last {
        width: 225px;
    }
}

@media screen and (min-width: 1680px) {
    .container {
        width: 1680px;
    }

    .problems {
        padding-top: 80px;
    }

    .problems__container {
        width: 1650px;
        background-image: url(../images/new-fire-icon.svg);
        background-repeat: no-repeat;
        background-position: bottom 140px right 16px;
    }

    .second-title__problems {
        width: 866px;
        font-size: 46px;
        line-height: 1.3;
        padding-right: 0;
        margin-bottom: 80px;
    }

    .problems__list {
        justify-content: space-between;
        height: 353px;
        padding-top: 60px;
        padding-left: 140px;
        padding-right: 192px;
        padding-bottom: 60px;
    }

    .problems__item {
        width: 336px;

        &::before {
            line-height: 1.7;
        }
    }

    .problems__description {
        font-size: 20px;
        line-height: 1.6;
    }

    .problems__item_grammar {
        margin-bottom: 72px;
    }

    .problems__item_english {
        margin-bottom: 40px;
    }

    .problems__item_vocabulary {
        margin-bottom: 40px;
    }


}