.reveiwes {
	padding-top: 80px;
	
}
.reveiwes .container {
	overflow: hidden;
}
.reveiwes__slider{
	position: relative;
}
.reveiwes .section-title {
	text-align: center;
	color: var(--primary-title-color);
}
//.reveiwes__block {
//	margin-top: 20px;
//	margin-bottom: 30px;
//}
.reveiwes__name {
	margin-bottom: 8px;
	font-weight: 800;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0.08em;
	color: var(--accent-color);
}
.reveiwes__course {
	font-size: 12px;
	font-weight: 500;
	line-height: 1.25;
	letter-spacing: 0.08em;
	color: var(--primary-text-color);
}
.reveiwes__text {
	font-weight: 500;
	font-size: 12px;
	line-height: 1.67;
	color: var(--secondary-text-color);
}
.reveiwes__more {
	text-decoration: underline;
	color: var(--accent-color);
}
.reveiwes__social {
	display: block;
	width: 30px;
	height: 18px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	fill: #436EAB;
}
.reveiwes__icon {
	display: block;
	width: 25px;
	height: 15px;
}
.reveiwes__avatar {
	width: 150px;
	height: 150px;
	margin-bottom: 20px;
	border-radius: 50%;
	background-color: teal;
}
//Адаптив для мобілки
@include mobile-only {
	.reveiwes {
			padding-top: 40px;
			padding-bottom: 40px;
			&__block{
				margin-bottom: 40px;
				margin-top: 24px; ;
			}
			&__avatar{
				margin-bottom: 24px;
				width: 90px;
				height: 90px;
				margin-left: auto;
				margin-right: auto;
			}
			&__social{
				margin-bottom: 24px;
			}
			&__name{
				margin-bottom: 16px;
			}
		}

		.reveiwes__name {
		text-align: center;
	}

		.reveiwes__course {
		max-width: 240px;
		margin: 0 auto 16px;

		text-align: center;
	}

		.reveiwes__text {
		max-width: 240px;
		margin: 0 auto;
		text-align: center;
	}

	.slick-arrow.slick-prev {
		bottom: 27px;
		left: 0;
		transform: translate(0, 50%);
	}

	.slick-arrow.slick-next {
		bottom: 27px;
		right: 0;
		transform: translate(0, 50%);
	}
	.slick-arrow{
		margin: 0 20px;
		}

	.slick-dots li:nth-child(n + 4) {
		display: none;
	}

	.slick-dots li:not(:first-child) {
		margin-left: 10px;
	}

	.slick-list {
		margin-bottom: 30px;
	}
}
//Адаптив для таблетки
@media screen and (min-width: 768px) {
	.reveiwes{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.reveiwes__item {
		display: flex;
	}

		.reveiwes__avatar {
		width: 150px;
		height: 150px;
		margin-bottom: 20px;
	}

		.reveiwes__course {
		margin-bottom: 20px;
	}

	.slick-arrow.slick-prev {
		top: 40%;
		left: 0;
	}

	.slick-arrow.slick-next {
		top: 40%;
		right: 0;
	}
}

@include tablet-only {
	.reveiwes .section-title {
		font-size: 26px;
		margin-bottom: 40px;
	}

		.reveiwes__block {
		padding: 40px 48px;
	}

		.reveiwes__left-side {
		margin-right: 46px;
	}

		.reveiwes__name {
		margin-bottom: 20px;
		font-size: 20px;
	}

	.slick-arrow.slick-prev {
		transform: translateX(-50%);
	}

	.slick-arrow.slick-next {
		transform: translateX(50%);
	}
	
	.slick-list {
		box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
		margin-bottom: 30px;
	}

	.slick-arrow {
		margin: 0 12px;
	}
	.slick-dots li:not(:first-child){
		margin-left: 20px;
	}
}
//адаптив для десктопу
@include desktop-only {
	.reveiwes {
		padding-top: 80px;
		padding-bottom: 80px;
		
	}
	.reveiwes-container {
			padding: 0 238px;
		}

		.reveiwes .section-title {
		font-size: 46px;
		margin-bottom: 40px;
	}

		.reveiwes__block {
		box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

		max-width: 1088px;
		margin: 0 auto 40px;
		padding-top: 60px;
		padding-bottom: 60px;
		padding-left: 80px;
		padding-right: 110px;
	}

		.reveiwes__left-side {
		margin-right: 40px;
	}

		.reveiwes__name {
		font-size: 30px;
	}

		.reveiwes__course {
		max-width: 430px;
		font-size: 14px;
	}

		.reveiwes__text {
		font-size: 18px;
		line-height: 1.56;
	}
	.slick-dots li {
		&:not(:first-child) {
				margin-left: 40px;
		}
	}
}

//Start slider
.reveiwes__arrow {
	padding: 0;
	border: none;
	background-color: transparent;
}

.arrow-left {
	position: absolute;
}

.arrow-right {
	position: absolute;
}
.reveiwes__slider-dote {
	display: flex;
	justify-content: center;
}

.slider {
	position: relative;
}

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track {
	display: flex;
}

.slick-arrow {
	position: absolute;
	// top: 40%;
	font-size: 0;
	width: 27px;
	height: 16px;
	z-index: 999;
	border: none;
	background-color: transparent;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
	left: 0;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='16' viewBox='0 0 27 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M26 7C26.5523 7 27 7.44772 27 8C27 8.55228 26.5523 9 26 9V7ZM0.292892 8.70711C-0.0976315 8.31658 -0.0976315 7.68342 0.292892 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292892 8.70711ZM26 9H1V7H26V9Z' fill='%23FF6B09'/%3e%3c/svg%3e ");
}

/* Стрелка вправо */
.slick-arrow.slick-next {
	right: 0;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='16' viewBox='0 0 27 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM26.7071 8.70711C27.0976 8.31658 27.0976 7.68342 26.7071 7.29289L20.3431 0.928932C19.9526 0.538408 19.3195 0.538408 18.9289 0.928932C18.5384 1.31946 18.5384 1.95262 18.9289 2.34315L24.5858 8L18.9289 13.6569C18.5384 14.0474 18.5384 14.6805 18.9289 15.0711C19.3195 15.4616 19.9526 15.4616 20.3431 15.0711L26.7071 8.70711ZM1 9H26V7H1V9Z' fill='%23FF6B09'/%3e%3c/svg%3e ");
}

.slick-dots {
	display: flex;
	justify-content: center;
}


.slick-dots li button {
	& {
		display: block;
		width: 54px;
		height: 54px;

		font-size: 0;
		background-color: transparent;
		border-radius: 50%;
		border: none;
		background-size: contain;
	}
}
.slick-dots li:nth-child(1) button {
	background-image: url(/images/photo-slider/yulia_54ч54-min.jpg);
}
.slick-dots li:nth-child(2) button {
	background-image: url(/images/photo-slider/marina_54х54-min.jpg);
}
.slick-dots li:nth-child(3) button {
	background-image: url(/images/photo-slider/lilia_54х54-min.jpg);
}
.slick-dots li:nth-child(4) button {
	background-image: url(/images/photo-slider/uliana_54х54-min.jpg);
}
.slick-dots li:nth-child(5) button {
	background-image: url(/images/photo-slider/olga_54х54-min.jpg);
}
.slick-dots li:nth-child(6) button {
	background-image: url(/images/photo-slider/vitalii_54x54-min.jpg);
}
.slick-dots li:nth-child(7) button {
	background-image: url(/images/photo-slider/victor_54x54-min.jpg);
}
.slick-dots li:nth-child(8) button {
	background-image: url(/images/photo-slider/evgen_54x54-min.jpg);
}
.slick-dots li:nth-child(9) button {
	background-image: url(/images/photo-slider/ivan_54x54-min.jpg);
}
.slick-dots li[class="slick-active"] button{
	transform: scale(1.2);
}
.slick-slide {
  outline: none;
}
.slick-slide img{
	border-radius: 50%;
}